.container {
    margin: 0 auto;
    max-width: 970px;
}

/* ============================================================================= */

header.ds-index-nav {
    background-color: #FAFAFA;
    border-bottom: 2px solid #627E96;
}

header.ds-index-nav  {
    padding-bottom: 0.5em;
}

header.ds-index-nav .links {
    text-align: right;
    margin-bottom: 12px;
}

header.ds-index-nav ul {
    margin-top: 26px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

header.ds-index-nav ul li {
    display: inline-block;
    margin-left: 1em;
}

.ds-logo {
    display: inline;
    vertical-align: super;
}

header.ds-index-nav .ds-logo .fa-stack {
    color: #627E96;
    vertical-align: bottom;
}

header.ds-index-nav .ds-logo h1 {
    display: inline-block;
    margin-top: .5em;
    vertical-align: sub;
}

h1.ds-site-title {
    color: #627E96;
}

/* ============================================================================= */

h1.ds-page-category {
    color: black;
}

header.ds-page-banner {
    background-position: center;
    border-bottom: 1px solid #EDEDED;
}

header.ds-page-banner .bg {
    height: 20px;
    background-color: rgba(255, 255, 255, 0.9);
}

.post-header h1 {
    font-size: 4em;
    margin-top: 2em;
}

.post {
    margin-bottom: 6em;
}


/* ============================================================================= */

header.ds-index-banner {
    background-position: center;
    border-bottom: 1px solid #EDEDED;
    margin-bottom: 60px;
}

header.ds-index-banner .bg {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.9);
}

header.ds-index-banner .ds-logo {
    display: block;
    margin-top: 80px;
}

header.ds-index-banner h1 {
    display: inline;
    vertical-align: middle;
    text-align: center;
    font-size: 5em;
    color: #627E96;
}

header.ds-index-banner img {
    margin-top: 20px;
}

header.ds-index-banner p.lead {
    margin-top: 1em;
    margin-left: 4.5em;
}

.img-bordered {
    padding-top: 8px;
    background: white;
    border: 1px solid #BABABA;
}

header.ds-index-banner .fa-circle {
    color: #627E96;
}

.ds-button,
.ds-button a {
    color: #627E96;
}

/* ============================================================================= */

.featurette {
    margin-top: 40px;
}

.featurette h1,
.featurette h2,
.featurette h3,
.featurette h4,
.featurette h5 {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

/* ============================================================================= */

footer.ds-index {
    border-top: 1px solid #EDEDED;
    text-align: center;
    background-color: #FAFAFA;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 40px;
}

/* ============================================================================= */

.doc-index {
    text-align: right;
}

.doc-index ul {
    padding-left: 0px;
}

.doc-index ul li {
    list-style-type: none;
    font-size: 1.1em;
}

.doc-index li.active {
    font-weight: bold;
}

.doc h1 {
    border-bottom: 1px solid #dadada;
    margin-top: 1em;
}

.doc img,
.img-bordered {
    border: 1px solid #dedede;
    padding: 8px;
    border-radius: 8px;
    max-width: 100%;
}

.toc-container {
    float: right;
    margin-left: 2em;
}

.toc-container .well {
    padding-left: 0px;
}
