<div class="btn-group ds-refresh-button-group" align="left">

  <button type="button"
          class="btn btn-default ds-refresh-button"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Refresh">
    <i class="fa fa-refresh"></i>
  </button>

  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="caret"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Set Refresh Options"
          ></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>

  <ul class="dropdown-menu dropdown-menu-right ds-refresh-menu" role="menu">
    <li style="display:none" data-ds-show="display" role="presentation" class="dropdown-header"><i class="fa fa-clock-o"></i> Recent Time Range</li>
    <li style="display:none" data-ds-show="display" class="divider"></li>
    {% for item in config['DASHBOARD_RANGE_PICKER'] %}
    <li style="display:none" data-ds-show="display" data-ds-range="{{item[1]}}"><a href="#">{{item[0]}}</a></li>
    {% endfor %}
    <br style="display:none" data-ds-show="display" />
    <li role="presentation" class="dropdown-header"><i class="fa fa-clock-o"></i> Auto Refresh</li>
    <li class="divider"></li>
    <li data-ds-interval="0"><a href="#">None</a></li>
    <li data-ds-interval="30"><a href="#">30 seconds</a></li>
    <li data-ds-interval="60"><a href="#">1 minute</a></li>
    <li data-ds-interval="120"><a href="#">2 minutes</a></li>
    <li data-ds-interval="300"><a href="#">5 minutes</a></li>
    <li data-ds-interval="600"><a href="#">10 minutes</a></li>
    <li data-ds-interval="1800"><a href="#">30 minutes</a></li>
    <li data-ds-interval="3600"><a href="#">1 hour</a></li>
  </ul>

</div>
