<table class="table-condensed">
  <tbody>
    <tr>
      <td>
        <span class="ds-tooltip-time">{{moment "dd, M-D-YYYY, h:mm A" time}}</span>
      </td>
    </tr>
    {{#each items}}
      <tr>
        <td class="ds-tooltip-label">
          <span class="badge" style="background-color: {{series.color}}"><i></i></span>
          {{series.label}}
        </td>
        <td class="ds-tooltip-value">
          {{value}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
