
/* =============================================================================
   Application Styles
   ============================================================================= */

.ds-title-bar {
  clear: both;
}

ul.ds-header-links {
  list-style: none;

  li {
    display: inline;
    margin-left: .5em;
  }

  a.active {
    border-bottom: 2px solid;
    padding-bottom: .125em;
  }
}

button.ds-favorited i::before,
.ds-favorite-indicator.ds-favorited i::before {
    color: red;
}

.ds-grid .well {
    padding-bottom: 1em;
}

.ds-height1 { height: 80px; }
.ds-height2 { height: 140px; }
.ds-height3 { height: 200px; }
.ds-height4 { height: 260px; }
.ds-height5 { height: 320px; }
.ds-height6 { height: 480px; }
.ds-height7 { height: 540px; }
.ds-height8 { height: 600px; }

h1.page-title {
    font-size: 3em;
}

.ds-grid {
  h1 {
    margin-bottom: 0.125em;
  }

  hr {
    margin-top:0;
  }
}

.ds-row .well {
  margin-bottom: 1em;
  padding-bottom: 0.5em;
}

.ds-section {
  margin-top: 1em;
}

.ds-section-heading {
    margin-top: 0px;
}
.bs-callout {
    margin-bottom: 1em;
}

.ds-timerstat h3,
.ds-singlestat h3 {
    margin: 0px;
}

.ds-timerstat p,
.ds-singlestat p {
    margin-bottom: 0px;
}

.ds-timerstat .unit,
.ds-singlestat .unit,
.ds-singlegraph .unit {
    margin-left: .25em;
}

.ds-singlestat .diff {
    display: block;
}

.ds-singlestat-grid-holder {
    .ds-singlestat {
        padding-bottom: 1em;
    }
}

.ds-jumbotron-singlestat {
  margin-bottom: 1em;

  .annotations {
    float: left;
    position: absolute;
    bottom: .5em;
  }

  .unit {
    display: block;
  }

  .annotations-wrapper {
    position: relative;
    float: left;
    margin-left: 1em;
    height: 8em;
  }

  .value {
    line-height: 1em;
    font-size: 8em;
    font-weight: bold;
    float: left;
  }

  h3 {
    margin-left: 1em;
    clear: both;
  }
}

.ds-simple-chart {
    position:relative;
    margin-bottom: 22px;
}
.name-overlay {
    position:absolute;
    bottom:0px;
    left:4px;
}
.value-overlay {
    position:absolute;
    bottom:4px;
    right:4px;
}
.value-overlay h3 {
    font-size:30px;
}

.ds-graph {
    margin-bottom: 2em;
}

.ds-time-container {
  h2 {
    padding-top: 2px;
    margin-bottom: -.45em;
  }

  h6 {
    text-transform: uppercase;
  }
}

.ds-fullscreen-titlebar {
    margin-bottom: 0.5em;

    h1 {
      margin-top: 0.25em;
    }

    .ds-refresh-button-group {
      margin-top: 1em;
      margin-left: .5em;
    }
}

.ds-item {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1;
    margin-top:  0;
  }
}

.ds-singlegraph {
  span.transform {
    float: right;
    position: relative;
    display: block;
    bottom: 1.5em;
    right: .75em;
    font-weight: bold;
    opacity: 0.5;
  }

  span.ds-label {
    display: block;
    position: relative;
    z-index: 10;
  }

  span.value {
    display: block;
    position: relative;
    z-index: 10;
    right: .125em;
    bottom: 1.25em;
    margin-bottom: -1em;
    float: right;
  }

  span.unit {
      display: block;
      position: relative;
      font-weight: bolder;
      bottom: 1.5em;
      left: -.5em;
      margin-bottom: -1em;      
      float: right;
      opacity: 0.75;
      
  }
}

.ds-editable {
  border-bottom: none;
}

.ds-info-edit-panel .tm-input {
    margin-top: 8px;
}

.ds-dashboard-listing-category {
    margin-right: 4px;
    color: $gray-light;
    width:120px;
    display:inline-block;
}

.ds-dashboard-listing-last-modified {
  color: lighten($gray-light, 15%);
}

.ds-featured-dashboard {
    margin-bottom: 2em;
}

.ds-footer-container {
    margin-bottom: 2em;
}

/* Flot charts */

#ds-tooltip {
    opacity: 1.0;
    padding: 6px;
    margin-left: 40px;
    font-size: 0.9em;
    z-index: 100;
}

tr.ds-tooltip-highlight {
  border-bottom: 1px solid;
  font-weight: bold;
}

td.ds-tooltip-label span.badge {
    height: 1em;
    border-radius: 0px;
}
td.ds-tooltip-value {
    padding-right: 8px;
    padding-left: 8px;
    font-weight: bold;
    text-align: right;
}

.ds-tooltip-time {
    font-weight: bold;
}

.ds-legend-holder {
  margin-top: 1em;
}

.ds-legend-holder .legendLabel {
    padding-right: 12px;
}

/* Comparison table dashboard items */

span.ds-diff-plus::before,
td.ds-diff-plus::before {
    content: "+";
    font-weight: bold;
}
span.ds-diff-minus::before,
td.ds-diff-minus::before {
    content: "-";
    font-weight: bold;
}
span.ds-diff-plus,
td.ds-diff-plus {
    color: green;
}
span.ds-diff-minus,
td.ds-diff-minus {
    color: red;
}

.ds-summation-table,
.ds-timeshift-summation-table,
.ds-percentage-table {
  tbody td,
  thead th {
    text-align: right;
  }
}

.ds-custom-range-picker {
  display: inline-block;
  .row {
    margin-bottom: 0px;
  }
}

col.ds-sparkline-col {
  width:100%;
}

.ds-spark-table-graph {
  width: 100%;
  height: 1.5em;
}

.ds-summation-table {
  td, th {
    vertical-align: middle !important;
  }
  tbody {
    th {
      font-weight: normal;
    }
  }
}


/* -----------------------------------------------------------------------------
 Edit mode headers
 ----------------------------------------------------------------------------- */

.ds-edit-bar {
    padding: 4px;
    margin-bottom: .5em;
    border-radius: 4px;
}

.ds-edit-bar .table {
    margin-bottom: .25em;
}

table.ds-property-sheet td {
    padding: 4px;
}

/*
 * Row
 */

.ds-edit-bar-row {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

.ds-row.ds-edit {
    border-radius: 4px;
}

/*
 * Cell
 */

.ds-cell.ds-edit {
    padding-left: 20px;
    padding-right: 20px;
}

/*
 * Item
 */

.ds-badge-highlight {
    border-width: 3px;
}

.ds-drag-handle {
    display: none;
    margin-top: 8px;
    margin-right: .5em;
    color: rgba(75,75,75,0.25);
}

.ds-resize-handle {
    display: none;
    margin-bottom: .5em;
    margin-right: .5em;
    color: rgba(75,75,75,0.25);
}

/* Query editor */
td.ds-query-target {
  word-break: break-all;
}

/* Flot legends */

.ds-legend-cell {
  display: inline-block;
  white-space: nowrap;

  .color {
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    border: 1px solid gray;
  }

  .label {
    display: inline-block;
    font-weight: 400;
    font-size: 13px;
  }
}

.ds-legend-cell.highlighted {
    .label {
        font-weight: 800;
    }
}

.ds-summation-color-cell {
  height: 1em;
  width: 1em;
  display: inline-block;
  margin-right: 0.5em;
}

/* flot.valuelabels */

.flotValueLabelLight {
    display: none;
}

.flotValueLabel {
    position: relative;
    font-stretch: condensed;
    font-weight: bold;
    font-size: 1.2em;
    padding-left: .5em;
    border-left-style: dotted;
    border-left-width: 1px;
}

[data-notify="title"] {
  font-weight: bold;
  border-right: 1px solid;
  padding-right: 0.5em;
}
