*.db
src/ts/extensions/
tessera/static/
_build/


# Miscellany
.DS_Store
*~
*#
.#*

# TypeScript
.tscache/
tscommand*
src/ts/.baseDir.ts

# Node, etc...
bower_components/
node_modules/

# Assorted Python
*.pyc
*.egg-info/
.Python

# Python virtualenv dirs
bin/
lib/
include/
man/
dist/
local/
build/
tmp/
etc/
