*.pyc
*.db
*~
*#
#*#
*.egg-info/
bin/
lib/
include/
man/
dist/
local/
.Python
bower_components/
node_modules/
tessera/static/*.js
tessera/static/css/bundle.css
tessera/tessera.db
experimental/
js/demo/
tmp/
etc/
_site/
_build/
