*.pyc
*.db
*~
*#
#*#
toolbox.egg-info/
bin/
lib/
include/
man/
dist/
.Python
bower_components/
node_modules/
tessera/static/*.js
tessera/static/css/bundle.css
tessera/tessera.db
experimental/
js/demo/
