---
layout: blank
---

<header class="ds-index-nav">
  <div class="container">
    <div class="row">
      <div class="col-md-4 title">
      </div>
      <div class="col-md-8 links">
        <ul>
          <li><a target="_blank" href="https://github.com/tessera-metrics/tessera">github</a></li>
          <li><a href="{{site.baseurl}}/docs/">documentation</a></li>
          <li><a href="{{site.baseurl}}/blog/">blog</a></li>
        </ul>
      </div>
    </div>
</header>

<header class="ds-index-banner">
  <div class="bg">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="ds-logo">
            <span class="fa-stack fa-3x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-cube fa-stack-1x fa-inverse"></i>
            </span>
            <h1>
              {{site.title}}
            </h1>
          </div> <!-- ds-logo -->
          <p class="lead">
            A web application for constructing elegant, interactive presentations of data from Graphite.
          </p>
          <p class="lead">

            <!--
            <button class="ds-button btn btn-default btn-lg">
              <a target="_blank" href="https://github.com/tessera-metrics/tessera/releases">
                <i class="fa fa-lg fa-download"></i>
                Download
              </a>
            </button>
            -->

            <button class="ds-button btn btn-default btn-lg">
              <a target="_blank" href="https://github.com/tessera-metrics/tessera">
                <i class="fa fa-lg fa-github"></i>
                Project on Github
              </a>
            </button>


          </p>
        </div> <!-- col -->

        <div class="col-md-4 col-md-offset-1">
          <img class="img-responsive img-bordered" src="{{site.baseurl}}/images/index/example-carbon-t.png"/>
        </div>
      </div> <!-- row -->
    </div>  <!-- container -->
  </div>
</header>

<article class="container">
  {% for post in site.posts limit:1 %}
  {% include blogpreview.html %}
  {% endfor %}
  <a href="{{site.baseurl}}/blog/">See more...</a>
</article>

<hr/>

<div>

<article class="container">

  <a name="actions"></a>
  <div class="row featurette">
    <div class="col-md-5">
      <img class="img-responsive img-bordered" src="{{site.baseurl}}/images/index/actions-menu.png"/>
    </div>
    <div class="col-md-7">
      <h1>Actions & Transforms</h1>
      <p class="lead">
        Easily extensible actions and transformations can interactively
        drill-down into data queries on the fly, or even completely
        transform them.
      </p>
    </div>
  </div> <!-- row -->


  <a name="api"></a>
  <div class="row featurette">
    <div class="col-md-5">
{% highlight bash %}
# Duplicate a dashboard with curl
curl -G
  $TESSERA/api/dashboard/15
  -d 'definition=true'
|
curl -X POST
  $TESSERA/api/dashboard/
  -H 'Content-Type: application/json'
  -d @-
{% endhighlight %}
    </div>


    <div class="col-md-7">
      <h1>Full REST API</h1>
      <p class="lead">
        A REST-ful HTTP API provides access to everything, and allows
        easy management with HTTP tools like <code>curl</code>.
      </p>

    </div>
  </div> <!-- row -->

  <a name="renderers"></a>
  <div class="row featurette">
    <div class="col-md-5">
      <img class="img-responsive img-bordered" src="{{site.baseurl}}/images/index/interactive-graphs.png"/>
    </div>

    <div class="col-md-7">
      <h1>Multiple Chart Renderers</h1>
      <p class="lead">
        View standard Graphite static PNG charts, or interactive
        charts rendered by <a target="_blank"
        href="http://www.flotcharts.org/">flot</a>.
      </p>
    </div>
  </div> <!-- row -->


  <a name="text-presentations"></a>
  <div class="row featurette">
    <div class="col-md-5">
      <img class="img-responsive img-bordered" src="{{site.baseurl}}/images/index/tables.png"/>
    </div>

    <div class="col-md-7">
      <h1>Text-Based Presentations</h1>
      <p class="lead">
        Data from Graphite can be presented in a wide variety of
        textual formats &mdash; not just
        graphs. <code>summation_table</code>, <code>timeshift_summation_table</code>, <code>percentage_table</code>, <code>singlestat</code>,
        and <code>jumbotron_singlestat</code> all provides additional
        ways to present meaningful analyses of your metrics data.
      </p>
    </div>
  </div> <!-- row -->

  <a name="themes"></a>
  <div class="row featurette">
    <h1>Color Themes</h1>
      <p class="lead">
        Tessera includes 5 color themes out of the box &mdash; three light
        and two dark &mdash; including themes based on the popular
        <a target="_blank" href="http://ethanschoonover.com/solarized">Solarized</a> color palette.
      </p>

    <div id="ds-themes-carousel">
      <div>
        <img src="{{site.baseurl}}/images/index/demo-overview-light.png" class="img-responsive"/>
      </div>
      <div>
        <img src="{{site.baseurl}}/images/index/demo-overview-snow.png" class="img-responsive"/>
      </div>
      <div>
        <img src="{{site.baseurl}}/images/index/demo-overview-solarized-light.png" class="img-responsive"/>
      </div>
      <div>
        <img src="{{site.baseurl}}/images/index/demo-overview-dark.png" class="img-responsive"/>
      </div>
      <div>
        <img src="{{site.baseurl}}/images/index/demo-overview-solarized-dark.png" class="img-responsive"/>
      </div>
    </div> <!-- carousel -->
  </div> <!-- row -->

  <div class="row">
    <div class="col-md-7">
      <h1></h1>
      <p class="lead">
      </p>
    </div>
    <div class="col-md-5">
    </div>
  </div> <!-- row -->


</div>

</article>

{% include footer.html %}
<style>
 .slick-prev:before, .slick-next:before {
   color: black;
   font-size: 36px;
 }
</style>
<script>
 $('#ds-themes-carousel').slick({
   arrows: true,
   dots: true
})
</script>
