<div class="btn-group">
  <button
     type="button"
     class="btn btn-default btn-xs dropdown-toggle"
     data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right ds-dashboard-action-menu" role="menu" data-ds-href="{{href}}" data-ds-view-href="{{view_href}}">

    {{actions 'dashboard-list-actions'}}
  </ul>
</div>
