/* =============================================================================
   3rd Party fixes
   ============================================================================= */

/* fix for bootstrap/font-awesome background image problem on icons */
i[class*='icon-'] {
    background-image: none;
}

/* Bootstrap tweak */
.label {
    text-decoration: none;
    text-shadow: none;
}
.select2-container {
    margin-left: 0;
}

/* DataTables tweaks to work w/Boostrap */
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting_asc { background: url('/static/img/datatable/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('/static/img/datatable/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('/static/img/datatable/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('/static/img/datatable/sort_desc_disabled.png') no-repeat center right; }

.sorting { background: none; }

/* =============================================================================
   Application Styles
   ============================================================================= */

.well-small.dashboard { padding-left: 18px; }

.height1 { height: 70px; }
.height2 { height: 140px; }
.height3 { height: 210px; }
.height4 { height: 280px; }
.height5 { height: 350px; }
.height6 { height: 420px; }
.height7 { height: 490px; }
.height8 { height: 560px; }

h1, h2, h3, h4 {
    font-family: "HelveticaNeue-CondensedBold","Helvetica Neue","Arial Narrow",Arial,sans-serif;
}

.dashboard-grid h1 {
    margin-bottom: 0.5em;
}

.singlestat h3 {
    font-stretch: condensed;
    font-size: 1.2em;
    font-weight: normal;
    text-transform:uppercase;
    padding-bottom: 12px;
}

.well .singlestat h3 {
}

.singlestat p {
    font-size: 3em;
    font-weight: bold;
}

.singlestat .unit {
    font-size: .5em;
    text-transform: lowercase;
}

.jumbotron-singlestat div {
  position:relative;
  top: 4em;
  text-align: right;
}
.jumbotron-singlestat .unit {
    text-transform: lowercase;
    font-size: 3em;
    font-weight: bold;
    vertical-align: bottom;
}

.jumbotron-singlestat .value {
    font-size: 8em;
    font-weight: bold;
    vertical-align: -100%;
}

.jumbotron-singlestat h3 {
    text-transform: lowercase;
    font-size: 3em;
    position: relative;
    top: 8px;
}

h1 .primary-title {
}

h1 .secondary-title {
}

.simple-chart {
    position:relative;
    margin-bottom: 22px;
}
.name-overlay {
    position:absolute;
    bottom:0px;
    left:4px;
}
.name-overlay h5 {
    font-size:12px;
}
.value-overlay {
    position:absolute;
    bottom:4px;
    right:4px;
}
.value-overlay h3 {
    font-size:30px;
}

.dashboard-row {
    // padding-bottom: 2em;
}

.simple-time-series svg {
    height: 90px;
    margin-bottom: 2em;
}

.standard-time-series {
    margin-bottom: 2em;
}

h2.time {
    padding-top: 2px;
    margin-bottom: -.45em;
}
