/* =============================================================================
   Application Styles
   ============================================================================= */

.dashboard-grid h1, .dashboard-grid h2
{
    color: #848480;
}

.dashboard-grid h1 small, .dashboard-grid h2 small
{
    color: #747470;
}

.markdown h1, .markdown h2 {
    color: white;
}

.singlestat h3 {
    color: #959588;
}

.well .singlestat h3 {
  color: #aa8866;
}

.singlestat p {
    color:white;
}

.singlestat .unit {
    color: gray;
}

.jumbotron-singlestat .unit {
    color: gray;
}

.jumbotron-singlestat .value {
    color: white;
}

.jumbotron-singlestat h3 {
    color: #a6a699;
}

h1 .primary-title {
  color: gray;
}

h1 .secondary-title {
  color: white;
}

.time-container h2 {
    color: #ddd;
}

/* =============================================================================
   3rd Party Tweaks
   ============================================================================= */

/* nvd3 tweaks for darkstrap */

.nvtooltip {
  background-color: #555555;
  color: #EFEFEF;
  border:none ;
}

.nvd3 text {
    fill: #a6a6a6;
}

.nv-legend-text {
    fill: #a6a6a6;
}

.nvd3 .tick line {
    stroke: #494951;
}

.nvd3 .nv-axis path {
    stroke: #494951;
}

.nv-label text {
    stroke: #a6a6a6;
}

/* Select 2 tweaks for darkstrap */
.select2-container .select2-drop {
    background: #222;
}
.select2-container-multi .select2-choices .select2-search-field input {
  color:#c6c6c6;
  background-color: #222;
}
.select2-container-multi .select2-choices .select2-search-field {
background-color: #222;
}

.select2-container-multi .select2-choices
{
    background: #222;
}

.select2-container-multi .select2-choices .select2-search-choice {
    background-image: none;
    background-color: #3A87AD;
    -webkit-box-shadow:none;
    -moz-box-shadow   :none;
    box-shadow        :none;
    color: white;
    border: 1px solid #222;
    line-height: 13px;
    padding: 3px 5px 3px 18px;
    margin: 3px 0 3px 5px;
    position: relative;
    cursor: default;
}

/* darkstrap tweaks */

.table th, .table td {
    border-top: 1px solid #404040;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #454545;
}

.table thead tr th,
.table thead tr td {
    border-bottom: 1px solid #454545;
}

.table tbody tr td,
.table tbody tr th {
    border-top: 1px solid #454545;
}

.label, .badge {
    text-shadow: none;
    box-shadow: none;
}

.btn-default {
    color: #DDD;
    background-color: #555;
    border-color: #777;
}

.bs-callout-neutral {
    background-color: #494949;
    border-color: #686868;
}
.bs-callout-info {
    background-color: #2A3B49;
    border-color: #36576E;
}
.bs-callout-success {
    background-color: #35492C;
    border-color: #436824;
}
.bs-callout-warning {
    background-color: #6F3701;
    border-color: #A25103;
}
.bs-callout-danger {
    background-color: #690d0d;
    border-color: #a80e0B;
}
.dashboard-warning,
.dashboard-warning h3,
.dashboard-warning .value,
.dashboard-warning .unit {
    color: #FF9E3F;
}

.dashboard-danger,
.dashboard-danger h3,
.dashboard-danger .value,
.dashboard-danger .unit {
    color: #FF0000;
}
