/* nvd3 tweaks for darkstrap */

.nvtooltip {
  background-color: #555555;
  color: #EFEFEF;
  border:none ;
}

.nvd3 text {
    fill: #a6a6a6;
}

.nv-legend-text {
    fill: #a6a6a6;
}

.nvd3 .tick line {
    stroke: #494951;
}

.nvd3 .nv-axis path {
    stroke: #494951;
}

/* Bootstrap tweak */
.label {
    text-decoration: none;
    text-shadow: none;
}

.select2-container {
    margin-left: 0;
}

/* DataTables tweaks to work w/Boostrap */
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting_asc { background: url('/static/img/datatable/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('/static/img/datatable/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('/static/img/datatable/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('/static/img/datatable/sort_desc_disabled.png') no-repeat center right; }

.sorting { background: none; }

/* Select 2 tweaks for darkstrap */
.select2-container .select2-drop {
    background: #222;
}
.select2-container-multi .select2-choices .select2-search-field input {
  color:#c6c6c6;
  background-color: #222;
}
.select2-container-multi .select2-choices .select2-search-field {
background-color: #222;
}

.select2-container-multi .select2-choices
{
    background: #222;
}

.select2-container-multi .select2-choices .select2-search-choice {
    background-image: none;
    background-color: #3A87AD;
    -webkit-box-shadow:none;
    -moz-box-shadow   :none;
    box-shadow        :none;
    color: white;
    border: 1px solid #222;
    line-height: 13px;
    padding: 3px 5px 3px 18px;
    margin: 3px 0 3px 5px;
    position: relative;
    cursor: default;
}

/* Codemirror tweaks for bootstrap/darkstrap */
.CodeMirror pre {
    box-shadow: none;
    -web-kit-box-shadow: none;
    -moz-box-shadow: none;
}
.CodeMirror-scroll {
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
}

/* App styles */

h1, h2, h3, h4 {
    font-family: "HelveticaNeue-CondensedBold","Helvetica Neue","Arial Narrow",Arial,sans-serif;
}

.dashboard-grid h1 {
    color: #545450;
    margin-bottom: 0.5em;
}

.singlestat h3 {
    font-stretch: condensed;
    font-size: 1.2em;
    font-weight: normal;
    font-variant:small-caps;
    text-transform:uppercase;
    padding-bottom: 12px;
    // color: #a6a699;
    color: #959588;
}

.well .singlestat h3 {
  color: #aa8866;
}

.singlestat p {
    font-size: 3em;
    font-weight: bold;
    color:white;
}

.singlestat .unit {
    font-size: .5em;
    text-transform: lowercase;
    color: gray;
}

.jumbotron-singlestat div {
  position:relative;
  top: 4em;
  text-align: right;
}
.jumbotron-singlestat .unit {
    text-transform: lowercase;
    color: gray;
    font-size: 3em;
    font-weight: bold;
    vertical-align: bottom;
}

.jumbotron-singlestat .value {
    color: white;
    font-size: 8em;
    font-weight: bold;
    vertical-align: -100%;
}

.jumbotron-singlestat h3 {
    text-transform: lowercase;
    color: #a6a699;
    font-size: 3em;
    position: relative;
    top: 8px;
}

h1 .primary-title {
  color: gray;
}

h1 .secondary-title {
  color: white;
}

.simple-chart {
    position:relative;
    margin-bottom: 22px;
}
.name-overlay {
    position:absolute;
    bottom:0px;
    left:4px;
}
.name-overlay h5 {
    font-size:12px;
}
.value-overlay {
    position:absolute;
    bottom:4px;
    right:4px;
}
.value-overlay h3 {
    font-size:30px;
}

.dashboard-row {
    // padding-bottom: 2em;
}

.simple-time-series svg {
    height: 90px;
    margin-bottom: 2em;
}

.standard-time-series {
    margin-bottom: 2em;
}

#tooltip {
    opacity: 1.0;
    background-color: #333;
    color: #cdF;
    border: 2px solid #666;
    border-radius: 6px;
    -moz-border-radius: 6px;
    padding: 12px;
    margin-left: 12px;
}
#tooltip hr {
    margin-bottom: 4px;
    margin-top: 4px;
}
td.tooltip-value {
    padding-right: 8px;
    padding-left: 8px;
    font-weight: bold;
    text-align: right;
}
h2.time {
    color: #ddd;
    padding-top: 2px;
    margin-bottom: -.45em;
}

.well-small.dashboard { padding-left: 18px; }

/* solarized bg */
.well.editor { background-color: #002B36; }
.height1 { height: 70px; }
.height2 { height: 140px; }
.height3 { height: 210px; }
.height4 { height: 280px; }
.height5 { height: 350px; }
.height6 { height: 420px; }
.height7 { height: 490px; }
.height8 { height: 560px; }

/* darkstrap tweaks */

.table th, .table td {
    border-top: 1px solid #404040;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #666666;
}

/* fix for bootstrap/font-awesome background image problem on icons */
i[class*='icon-'] {
    background-image: none;
}
