<div class="row">

  <!-- Range picker -->
  <div class="col-md-6">
    {% include "snippets/recent-range-picker.html" %}
  </div>

  <!-- toolbar -->
  <div class="col-md-6">
    <div class="btn-toolbar pull-right">

      <!-- Delete button -->
      <div class="btn-group" data-ds-edit-mode="show" style="display:none">
        <button type="button"
                id="ds-delete-dashboard-button"
                class="btn btn-danger"
                data-toggle="tooltip"
                title="Delete this dashboard">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>

      <div class="btn-group">

        <!-- Edit button -->
        <button type="button" id="ds-edit-info-button" class="btn btn-default" data-toggle="tooltip" title="Edit">
          <i class="fa fa-edit"></i>
        </button>

        <!-- Toggle interactive button -->
        <button type="button" id="ds-toggle-interactive-button" class="btn btn-default {% if ctx.prefs.interactive %} {% else %} active {% endif %}" data-toggle="tooltip" title="Toggle Interactive Graphs">
          <i class="fa fa-lock"></i>
        </button>

        {% include "snippets/rejigger-button.html" %}

        {% include "snippets/refresh-button.html" %}

        <!-- Display mode button -->
        <button type="button" id="ds-enter-fullscreen-button" class="btn btn-default" data-toggle="tooltip" title="Enter Display Mode">
          <i class="fa fa-expand"></i>
        </button>

      </div> <!-- btn-group -->

    </div> <!-- btn-toolbar -->
  </div>
</div> <!-- row -->

<script>

</script>
