<!-- nav links -->

<div class="well well-small" style="padding:8px 0">
  <ul class="nav nav-list">
    <li class="nav-header">Browse</li>
    <li><a href="/dashboard"><i class="icon-dashboard"></i> Dashboards</a></li>
    <li><a href="/chart"><i class="icon-bar-chart"></i> Charts</a></li>
    <li><a href="/metric"><i class="icon-bolt"></i> Metrics</a></li>
    <li><a href="/all"><i class="icon-book"></i> Everything</a></li>
    <li class="nav-header">Create</li>
    <li><a href="/chart/new" class=""><i class="icon-bar-chart"></i> New Chart...</a></li>
    <li><a href="/dashboard/new" class=""><i class="icon-dashboard"></i> New Dashboard...</a></li>
    <li class="divider"></li>
    <li><a href="/about"><i class="icon-info-sign"></i> About</a></li>
  </ul>
</div>

