  <ul class="nav nav-pills dashboard-recent-range-picker">

    {% for item in [
      ('Past Hour', '-1h'),
      ('Past 3 Hours', '-3h'),
      ('Past 12 Hours', '-12h'),
      ('Past Day', '-1d'),
      ('Past Week', '-7d')]
      %}

    <li data-range="{{item[1]}}">
      <a name="{{item[1]}}">
        {{item[0]}}
      </a>
    </li>
    {% endfor %}

  </ul>

<script>
$(document).ready(function() {
    var from = URI(window.location).search(true).from || '-3h';
    $('[data-range=' + from + ']').addClass('active');
});
$(".dashboard-recent-range-picker").click(function(e) {
    // TODO - this is a quick hack. Better would be to set the URL of
    // the current dashboard, reload it (without reloading the page),
    // and update the location with the browser history API
    console.log(e.target);
    window.location = URI(window.location)
        .setQuery('from', $(e.target).attr('name'))
        .href();
});
</script>
