  <ul class="nav nav-pills dashboard-recent-range-picker">

    {% for item in [
      ('Past Hour', '-1h'),
      ('Past 3 Hours', '-3h'),
      ('Past 12 Hours', '-12h'),
      ('Past Day', '-1d'),
      ('Past Week', '-7d')]
      %}

    <li data-range="{{item[1]}}">
      <a data-range="{{item[1]}}">
        {{item[0]}}
      </a>
    </li>
    {% endfor %}

  </ul>

<script>
cronenberg.dashboards.onDashboardLoaded(function() {
    var from = URI(window.location).search(true).from || '-3h';
    $('[data-range]').removeClass('active');
    $('[data-range=' + from + ']').addClass('active');
});
$(".dashboard-recent-range-picker").click(function(e) {
    cronenberg.dashboards.set_time_range($(e.target).attr('data-range'));
});
</script>
