<div class="btn-group refresh-button">

  <button type="button"
          onclick="cronenberg.dashboards.refresh()"
          class="btn btn-default"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Refresh">
    <i class="fa fa-lg fa-refresh"></i>
  </button>

  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>

  <ul class="dropdown-menu dropdown-menu-right" role="menu">
    <li style="display:none" data-fullscreen="show" role="presentation" class="dropdown-header"><i class="fa fa-clock-o"></i> Recent Time Range</li>
    <li style="display:none" data-fullscreen="show" class="divider"></li>
    <li style="display:none" data-fullscreen="show"><a href="#" name="-1h">Past Hour</a></li>
    <li style="display:none" data-fullscreen="show"><a href="#" name="-3h">Past 3 Hours</a></li>
    <li style="display:none" data-fullscreen="show"><a href="#" name="-6h">Past 6 Hours</a></li>
    <li style="display:none" data-fullscreen="show"><a href="#" name="-12h">Past 12 Hours</a></li>
    <li style="display:none" data-fullscreen="show"><a href="#" name="-1d">Past Day</a></li>
    <li style="display:none" data-fullscreen="show"><a href="#" name="-7d">Past Week</a></li>
    <br style="display:none" data-fullscreen="show"/>
    <li role="presentation" class="dropdown-header"><i class="fa fa-clock-o"></i> Auto Refresh</li>
    <li class="divider"></li>
    <li><a href="#">30 seconds</a></li>
    <li><a href="#">1 minute</a></li>
    <li><a href="#">2 minutes</a></li>
    <li><a href="#">5 minutes</a></li>
    <li><a href="#">10 minutes</a></li>
    <li><a href="#">30 minutes</a></li>
    <li><a href="#">1 hour</a></li>
  </ul>

</div>
