<div class="btn-group refresh-button">

  <button type="button"
          onclick="cronenberg.dashboards.refresh()"
          class="btn btn-default"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Refresh">
    <i class="fa fa-lg fa-refresh"></i>
  </button>

  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>

  <ul class="dropdown-menu dropdown-menu-right" role="menu">
    <li role="presentation" class="dropdown-header"><i class="fa fa-clock-o"></i> Auto Refresh</li>
    <li class="divider"></li>
    <li><a href="#">30 seconds</a></li>
    <li><a href="#">1 minute</a></li>
    <li><a href="#">2 minutes</a></li>
    <li><a href="#">5 minutes</a></li>
    <li><a href="#">10 minutes</a></li>
    <li><a href="#">30 minutes</a></li>
    <li><a href="#">1 hour</a></li>
  </ul>

</div>
