<title>{{config.get('DASHBOARD_APPNAME')}}: {{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!-- This is all dumped here out of convenience. It should be moved to
use something like require.js for sanity -->

<!-- jQuery, etc... -->
<script src="{{ url_for('static', filename='bundle.js') }}"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>

<!-- Bootstrap and related -->
<link  href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"></link>
<link  href="{{ url_for('static', filename='css/bootstrap-callouts.css') }}" rel="stylesheet"></link>
<link  href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet"></link>

<!-- d3 and related -->
<link  href="{{ url_for('static', filename='css/nv.d3.css') }}" rel="stylesheet"></link>


<link  href="{{ url_for('static', filename='themes/bootstrap-' + ctx.theme + '.css') }}" rel="stylesheet"></link>
<link  href="{{ url_for('static', filename='themes/cronenberg-' + ctx.theme + '.css') }}" rel="stylesheet"></link>
<link  href="{{ url_for('static', filename='cronenberg.css') }}" rel="stylesheet"></link>
