<title>{{config.get('DASHBOARD_APPNAME')}}: {{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!-- This is all dumped here out of convenience. It should be moved to
use something like require.js for sanity -->

<!-- jQuery, etc... -->
<script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bean.js') }}"></script>
<script src="{{ url_for('static', filename='js/activity-indicator.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.number.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
<link href="{{ url_for('static', filename='css/jquery.dataTables.css') }}" rel="stylesheet"></link>

<!-- Bootstrap -->
<link  href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"></link>
<link  href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet"></link>
<link  href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"></link>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-button.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-tab.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-tooltip.js') }}"></script>

<!-- Slick -->
<!--
<link  href="{{ url_for('static', filename='slick/slick.css') }}" rel="stylesheet"></link>
<script src="{{ url_for('static', filename='slick/slick.min.js') }}"></script>
-->

<!-- d3 -->
<script src="{{ url_for('static', filename='js/d3.js') }}"></script>
<script src="{{ url_for('static', filename='js/nv.d3.js') }}"></script>
<link  href="{{ url_for('static', filename='css/nv.d3.css') }}" rel="stylesheet"></link>

<!-- Application -->
<script src="{{ url_for('static', filename='cronenberg.js') }}"></script>
<script src="{{ url_for('static', filename='cronenberg-queries.js') }}"></script>
<link  href="{{ url_for('static', filename='cronenberg.css') }}" rel="stylesheet"></link>

{% if true %}
<link  href="{{ url_for('static', filename='css/darkstrap.css') }}" rel="stylesheet"></link>
<link  href="{{ url_for('static', filename='cronenberg-dark.css') }}" rel="stylesheet"></link>
{% else %}
<link  href="{{ url_for('static', filename='cronenberg-light.css') }}" rel="stylesheet"></link>
{% endif %}
