<title>{{config.get('DASHBOARD_APPNAME')}}: {{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!-- This is all dumped here out of convenience. It should be moved to
use something like require.js for sanity -->

<!-- jQuery, etc... -->
<script src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bean.js') }}"></script>
<script src="{{ url_for('static', filename='js/URI.js') }}"></script>
<script src="{{ url_for('static', filename='js/handlebars-v1.3.0.js') }}"></script>
<script src="{{ url_for('static', filename='js/markdown.min.js') }}"></script>

<!-- Bootstrap -->
<link  href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"></link>
<link  href="{{ url_for('static', filename='css/bootstrap-callouts.css') }}" rel="stylesheet"></link>
<!-- <link  href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet"></link> -->
<link  href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet"></link>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<!-- d3 -->
<script src="{{ url_for('static', filename='js/d3.js') }}"></script>
<script src="{{ url_for('static', filename='js/nv.d3.js') }}"></script>
<link  href="{{ url_for('static', filename='css/nv.d3.css') }}" rel="stylesheet"></link>

<!-- Application -->
<script src="{{ url_for('static', filename='cronenberg.js') }}"></script>
<script src="{{ url_for('static', filename='cronenberg-queries.js') }}"></script>
<script src="{{ url_for('static', filename='cronenberg-charts.js') }}"></script>
<script src="{{ url_for('static', filename='cronenberg-dashboards.js') }}"></script>
<script src="{{ url_for('static', filename='cronenberg-templates.js') }}"></script>

{% if ctx.get('theme', 'dark', store_in_session=true) == 'light' %}
<link  href="{{ url_for('static', filename='cronenberg-light.css') }}" rel="stylesheet"></link>
{% else %}
<link  href="{{ url_for('static', filename='css/darkstrap.css') }}" rel="stylesheet"></link>
<link  href="{{ url_for('static', filename='cronenberg-dark.css') }}" rel="stylesheet"></link>
{% endif %}

<link  href="{{ url_for('static', filename='cronenberg.css') }}" rel="stylesheet"></link>
