/* =============================================================================
   Application Styles
   ============================================================================= */

.ds-grid h1,
.ds-grid h2 {
    color: #A95353;
}

.ds-grid h1 small,
.ds-grid h2 small {
    color: #B96363;
}

.ds-markdown h1,
.ds-markdown h2,
.ds-markdown h3,
.ds-markdown h4,
.ds-markdown h5,
.ds-markdown h6 {
    color: black;
}

.ds-singlestat h3 {
    color: #737380;
}

.well .ds-singlestat h3 {
    color: #A95353;
}

.ds-singlestat p {
    // color:white;
}

.ds-singlestat .unit,
.ds-jumbotron-singlestat .unit {
    color: gray;
}

.ds-jumbotron-singlestat .value {
    // color: white;
}

.ds-jumbotron-singlestat h3 {
    color: #a6a699;
}

h1 .ds-primary-title {
    color: gray;
}

h1 .ds-secondary-title {
    // color: white;
}

.ds-time-container h2 {
    // color: #ddd;
}

.ds-danger,
.ds-danger h3,
.ds-danger .value,
.ds-danger .unit {
    color: #d60000;
}

.ds-warning,
.ds-warning h3,
.ds-warning .value,
.ds-warning .unit {
    color: #d66a00;
}

/* =============================================================================
   3rd Party Tweaks
   ============================================================================= */

.nvd3 .nv-axis path {
    stroke: lightgray;
}
