/* Alerts */

.alert-neutral,
.bs-callout-neutral {
  background-color: $neutral-bg;
  border-color: $neutral;
  h1, h2, h3, h4, h5, h6 {
    color: $neutral-highlight;
  }
}

.alert-info,
.bs-callout-info {
  background-color: $info-bg;
  border-color: $info;
  h1, h2, h3, h4, h5, h6 {
    color: $info-highlight;
  }
}

.alert-success,
.bs-callout-success {
  background-color: $success-bg;
  border-color: $success;
  h1, h2, h3, h4, h5, h6 {
    color: $success-highlight;
  }
}

.alert-warning,
.bs-callout-warning {
  background-color: $warning-bg;
  border-color: $warning;
  h1, h2, h3, h4, h5, h6 {
    color: $warning-highlight;
  }
}

.alert-danger,
.bs-callout-danger {
  background-color: $danger-bg;
  border-color: $danger;
  h1, h2, h3, h4, h5, h6 {
    color: $danger-highlight;
  }
}

.ds-warning {
  h3, .value, .unit {
    color: $warning;
  }
}

.ds-danger {
  h3, .value, .unit {
    color: $danger;
  }
}
