$ds-tooltip-bg: white !default;
$ds-tooltip-fg: black !default;
$ds-tooltip-border-color: #888 !default;
$ds-tooltip-border: 1px solid $ds-tooltip-border-color !default;

#ds-tooltip {
  color: $ds-tooltip-fg;
  background-color: $ds-tooltip-bg;
  border: $ds-tooltip-border;
}

$ds-value-label-fg: gray !default;
$ds-value-label-border-color: #a95353 !default;

.flotValueLabel {
    color: $ds-value-label-fg;
    border-left-color: $ds-value-label-border-color;
}
