@import "../variables";

$gray: gray;
$white: white;
$medium-gray: #a6a6a6;
$medium-gray-warm: #a6a699;
$medium-gray1: #686868;
$dark-gray0: #333333;
$dark-gray1: #454545;
$dark-gray2: #494949;

$neutral:           $gray;
$neutral-bg:        $dark-gray1;
$neutral-highlight: $neutral;

$info-bg:           #2a3b49;
$info-highlight:    #6a9ab3;
$info:              darken($info-highlight, 10%);

$success:           #436824;
$success-bg:        #35492c;
$success-highlight: #86b186;

$warning:           #a25103;
$warning-bg:        #6f3701;
$warning-highlight: #ff9e3f;

$danger:            #a80e0b;
$danger-highlight:  #e22424;
$danger-bg:         #690d0d;


/* =============================================================================
   Application Styles
   ============================================================================= */

.ds-item {
  h1, h2, h3, h4, h5, h6 {
    color: #BBB;
  }
}

.ds-timerstat h3,
.ds-singlestat h3 {
    color: #959588;
}

.well .ds-timerstat h3,
.well .ds-singlestat h3 {
  color: #aa8866;
}

.ds-timerstat p,
.ds-singlestat p {
    color: white;
}

.ds-timerstat .unit,
.ds-singlestat .unit,
.ds-jumbotron-singlestat .unit {
    color: $gray;
}

.ds-jumbotron-singlestat .value {
    color: $white;
}

.ds-jumbotron-singlestat h3 {
    color: $medium-gray-warm;
}

h1 .ds-primary-title {
  color: $gray;
}

h1 .ds-secondary-title {
  color: white;
}

.ds-time-container h2 {
    color: #ddd;
}

.badge-neutral {
  color: #222;
}

@import "alerts";

/* =============================================================================
   3rd Party Tweaks
   ============================================================================= */

/* darkstrap tweaks */

.table th, .table td {
    border-top: 1px solid $dark-gray1;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: $dark-gray1;
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
    background-color: $dark-gray1;
}

.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr.active:hover > th {
    background-color: $dark-gray1;
}

.table thead tr th,
.table thead tr td {
    border-bottom: 1px solid $dark-gray1;
}

.table tbody tr td,
.table tbody tr th {
    border-top: 1px solid $dark-gray1;
}

.label, .badge {
    text-shadow: none;
    box-shadow: none;
}

.input-group-addon {
    color: #DDD;
    background: $dark-gray0;
    border-color: #777;
}

input[type="text"],
input[type="email"],
input[type="datetime"],
input[type="datetime-local"],
input[type="search"],
input[type="number"]
{
    background: $dark-gray0;
    border: 1px solid #777;
    color: white;
    box-shadow: none;
}


.btn-default {
    color: #DDD;
    background-color: $dark-gray0;
    border-color: #777;
}

#ds-tooltip {
    color: white;
    background-color: $dark-gray0;
    border: 1px solid #666;
}

/* -----------------------------------------------------------------------------
 Edit mode headers
 ----------------------------------------------------------------------------- */

/*
 * Section
 */

.ds-badge-section {
    background-color: $dark-gray0;
}

.ds-edit-bar-section {
    background-color: #111;
    border: 1px solid $dark-gray0;
}

/*
 * Row
 */

.ds-badge-row {
    background-color: #555;
}

.ds-edit-bar-row {
    border: 1px solid #555;
    background-color: #222;
}

.ds-row.ds-edit {
    border: 1px solid #555;
}

/*
 * Cell
 */

.ds-badge-cell {
    border: 1px solid #555;
}

.ds-edit-bar-cell {
    background-color: $dark-gray0;
    border: 1px solid #777;
}

/*
 * Item
 */

.ds-badge-item {
    background-color: #777;
    color: white;
    border: 1px solid #AAA;
}

.ds-edit-bar-item {
    background-color: #555;
    border: 1px solid #777;
}


/* -----------------------------------------------------------------------------
   Select2
   ----------------------------------------------------------------------------- */

.select2-container .select2-choices .select2-search-field input,
.select2-container .select2-choice,
.select2-container .select2-choices,
.select2-search input,
.select2-drop
{
    background: $dark-gray0;
    border-color: #777;
    color: white;
}

.select2-arrow {
    border-left: 1px solid #777;
    color: white;
}

/* -----------------------------------------------------------------------------
   bootstrap-datetime
   ----------------------------------------------------------------------------- */

.bootstrap-datetimepicker-widget {
    background: #555;
    border-color: #777;
    color: white;
}


.datepicker table tr td.day.active {
    background: #428BCA;
}

.bootstrap-datetimepicker-widget td span:hover,
.datepicker table tr th.switch:hover,
.datepicker table tr th.next:hover,
.datepicker table tr th.prev:hover,
.datepicker table tr td.day:hover,
.datepicker table tr td.second:hover
{
    background: #627E96;
}

$ds-value-label-fg: #ccc;
$ds-value-label-border-color: #b58900;

@import "charts";
