@import "solarized";

.ds-primary-title {
    color: $base0;
}

$neutral: $base1;
$neutral-bg: $base2;
$neutral-highlight: $base0;

$info: $blue;
$info-bg: desaturate(lighten($info, 45%), 20%);
$info-highlight: darken($info, 10%);

$success: $green;
$success-bg: desaturate(lighten($success, 55%), 35%);
$success-highlight: darken($success, 10%);

$warning: $yellow;
$warning-bg: desaturate(lighten($warning, 45%), 10%);
$warning-highlight: darken($warning, 10%);

$danger: $red;
$danger-bg: lighten($danger, 35%);
$danger-highlight: darken($danger, 10%);

.ds-dashboard .well {
  background-color: rgba(0,0,0,0.07)
}

.ds-timerstat .unit,
.ds-singlestat .unit,
.ds-jumbotron-singlestat .unit {
    color: $base1;
}

.ds-timerstat h3,
.ds-singlestat h3,
.ds-jumbotron-singlestat h3 {
    color: $base0;
}

#ds-tooltip {
    color: $base01;
    background-color: #ffffed;
    border: 1px solid $base01;
}

/* -----------------------------------------------------------------------------
   Edit mode headers
   ----------------------------------------------------------------------------- */

/*
 * Section
 */

.ds-badge-section {
    background-color: #387aa3;
}

.ds-edit-bar-section {
    background-color: #9dc2d3;
    border: 1px solid #387aa3;
}

/*
 * Row
 */

.ds-badge-row {
    background-color: #649EB9;
}

.ds-edit-bar-row {
    border: 1px solid #649EB9;
    background-color: #D9EDF7;
}

.ds-row.ds-edit {
    border: 1px solid #649EB9;
}

/*
 * Cell
 */

.ds-badge-cell {
    background-color: #649EB9;
    border: 1px solid #9DC2D3;
}
.ds-edit-bar-cell {
    background-color: #E3F7FF;
    border: 1px solid #9DC2D3;
}

/*
 * Item
 */

.ds-badge-item {
    background-color: #D9EDF7;
    color: #387AA3;
    border: 1px solid #649EB9;
}

.ds-edit-bar-item {
    background-color: #FAFAFA;
    border: 1px solid #649EB9;
}

@import "alerts";

.alert p {
  color: $base01;
}

/* -----------------------------------------------------------------------------
   Select2
   ----------------------------------------------------------------------------- */

.select2-container .select2-choices .select2-search-field input,
.select2-container .select2-choice,
.select2-container .select2-choices,
.select2-search input,
.select2-drop
{
    background: #FEFCF6;
}

/* flot.valuelabels */

.flotValueLabel {
    color: #586E74;
    border-left-color: #B4881C;
}
