@import "solarized";

$neutral:           darken($base1, 10%);
$neutral-bg:        darken($base01, 15%);
$neutral-highlight: lighten($neutral, 10%);

$info:              $blue;
$info-bg:           rgba(darken($info, 20%), 0.8);
$info-highlight:    lighten($info, 20%);

$success:           $green;
$success-bg:        rgba(darken($success, 15%), 0.8);
$success-highlight: lighten($success, 10%);

$warning:           $yellow;
$warning-bg:        rgba(darken($warning, 20%), 0.8);
$warning-highlight: lighten($warning, 10%);

$danger:            $red;
$danger-bg:         rgba(darken($danger, 20%), 0.8);
$danger-highlight:  $danger;

/* Bootstrap tweaks */

.well,
.breadcrumb {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#88000000,endColorstr=#88000000);
}

hr {
  -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #121212;
  border-top: none;
}

.page-header {
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #121212;
}

/* Application Styles */

.ds-item {
  h1, h2, h3, h4, h5, h6 {
    color: $base1;
  }
}

.ds-timerstat h3,
.ds-singlestat h3 {
    color: #959588;
}

.well .ds-timerstat h3,
.well .ds-singlestat h3 {
  color: $yellow;
}

.ds-timerstat,
.ds-singlestat {
  p {
    color:white;
  }
}

.ds-singlestat .unit,
.ds-jumbotron-singlestat .unit {
    color: $base01;
}

.ds-jumbotron-singlestat .value {
    color: white;
}

.ds-jumbotron-singlestat h3 {
    color: #a6a699;
}

h1 .ds-primary-title {
    color: $base01;
}

h1 .ds-secondary-title {
    color: $base2;
}

.breadcrumb .active {
    color: $base01;
}

h1.page-title .ds-summary {
    color: $base1;
}

.ds-time-container h2 {
    color: #ddd;
}

.ds-warning {
  h3, .value, .unit {
    color: $warning-highlight;
  }
}

.ds-danger {
  h3, .value, .unit {
    color: $danger-highlight;
  }
}

.badge-neutral {
  color: #222;
}

@import "alerts";

.alert, .bs-callout {
  .unit {
    color: $base1;
  }
}
/* -----------------------------------------------------------------------------
 Edit mode headers
 ----------------------------------------------------------------------------- */

/*
 * Section
 */

.ds-badge-section {
    background-color: #333;
}

.ds-edit-bar-section {
    background-color: #111;
    border: 1px solid #444;
}

/*
 * Row
 */

.ds-badge-row {
    background-color: #555;
}

.ds-edit-bar-row {
    border: 1px solid #555;
    background-color: #222;
}

.ds-row.ds-edit {
    border: 1px solid #555;
}

/*
 * Cell
 */

.ds-badge-cell {
    border: 1px solid #555;
    color: $base03;
}

.ds-edit-bar-cell {
    background-color: #444;
    border: 1px solid #777;
}

/*
 * Item
 */

.ds-badge-item {
    background-color: #777;
    color: white;
    border: 1px solid #AAA;
}

.ds-edit-bar-item {
    background-color: #555;
    border: 1px solid #777;
}

/* -----------------------------------------------------------------------------
   Select2
   ----------------------------------------------------------------------------- */

.select2-container .select2-choices .select2-search-field input,
.select2-container .select2-choice,
.select2-container .select2-choices,
.select2-search input,
.select2-drop
{
    background: $base02;
    border-color: $base01;
    color: $base2;
}

.select2-arrow {
    border-left: 1px solid $base01;
}

$ds-tooltip-bg: $base02;
$ds-tooltip-fg: $base1;
$ds-tooltip-border-color: #657b83;
$ds-value-label-fg: $base1;
$ds-value-label-border-color: $yellow;

@import "charts";
