@import "../colors";
@import "../fonts";

/* =============================================================================
   Application Styles
   ============================================================================= */

.ds-timerstat h3,
.ds-singlestat h3 {
    color: #737380;
}

.well .ds-timerstat h3,
.well .ds-singlestat h3 {
    color: #A95353;
}

.ds-dashboard .well {
  background-color: rgba(0,0,0,0.07)
}

.ds-timerstat,
.ds-singlestat,
.ds-jumbotron-singlestat {
  .unit {
    color: gray;
  }
}

.ds-jumbotron-singlestat h3 {
    color: #a6a699;
}

h1 .ds-primary-title {
    color: gray;
}


@import "alerts";
@import "charts";
@import "edit";
