<div class="btn-group ds-theme-button" data-ds-hide="transform">

  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Color Theme">
    <i class="fa fa-paint-brush"></i>
    <span class="caret"</span>
  </button>

  <ul class="dropdown-menu dropdown-menu-right ds-theme-menu" role="menu">
    <li data-ds-theme-type="light" data-ds-theme-name="light"><a href="#">Light</a></li>
    <li data-ds-theme-type="light" data-ds-theme-name="snow"><a href="#">Snow</a></li>
    <li data-ds-theme-type="light" data-ds-theme-name="solarized-light"><a href="#">Solarized Light</a></li>
    <li data-ds-theme-type="dark" data-ds-theme-name="dark"><a href="#">Dark</a></li>
    <li data-ds-theme-type="dark" data-ds-theme-name="solarized-dark"><a href="#">Solarized Dark</a></li>
    <li data-ds-theme-type="dark" data-ds-theme-name="spacedust"><a href="#">Spacedust</a></li>
  </ul>

</div>
