<table class="table-condensed">
  <tbody>
    <tr>
      <td class="ds-tooltip-label">
        <span class="badge" style="background-color: {{series.color}}"><i></i></span>
        {{series.label}}
      </td>
      <td class="ds-tooltip-value">
        {{value}} / {{percent}}
      </td>
    </tr>
  </tbody>
</table>
