<!doctype html>
<html>
  <head>
    {% include "snippets/site-header.html" %}
  </head>
  <body>

    <div class="container">

      <div class="page-header" data-fullscreen="hide">
        <div class="row">
          <div class="col-md-9">
            <!--
            <a href="/"><i class="icon-home icon-large"></i></a>
            <a href="/dashboards"><i class="icon-dashboard icon-large"></i></a>
            -->
            <br/>
            <h1 class="page-title">
              {% block pagetitle %}
              {% endblock %}
            </h1>
          </div>
          <div class="col-md-3" align="right">
            <!-- <a href="/settings"><i class="icon-cogs icon-large"></i></a> -->
            <div class="ds-time-container" align="right">
              <h2>{{ ctx.now.strftime("%I:%M") }}<small> {{ ctx.now.strftime("%p") }}</small></h2>
              <h6>{{ ctx.now.strftime("%A") }} {{ ctx.now.strftime("%d %B %Y") }}</h6>
            </div>
          </div>
        </div>
      </div>

      {% block layout %}
      {% block content %}
      {% endblock %}
      {% endblock %}

      {% block layoutfooter %}
      {% block footer %}
      {% endblock %}
      {% endblock %}

    </div> <!-- container -->

    <p>&nbsp;</p>

    {% include "snippets/site-footer.html" %}

  </body>
</html>
