{% extends "layouts/base.html" %}

{% block layout %}

{% if breadcrumbs is defined %}
<div class="row">
  <div class="col-md-12">
    <ul class="breadcrumb">
      {% for bc in breadcrumbs %}
      <li>
        {% if bc[1] == '' %}
        {{bc[0]}}
        {% else %}
        <a href="{{bc[1]}}">{{bc[0]}}</a>
        {% endif %}
        {% if not loop.last %}
        <col-md- class="divider">/</col-md->
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-md-10">
    {% block content %}
    {% endblock %}
  </div>
  <div class="col-md-2">
    {% include "snippets/navbar.html" %}
    {% block sidebar %}
    {% endblock %}
  </div>
</div>

{% endblock %}

{% block layoutfooter %}
<div class="row">
  <div class="col-md-10">
    {% block footer %}
    &nbsp;
    {% endblock %}
  </div>
  <div class="col-md-2">
    <p align="center"><small><!-- {{config.get('DASHBOARD_APPNAME')}} {{config.get('DASHBOARD_VERSION')}} --></small></p>
  </div>
</div>
{% endblock %}
