{{ds-edit-bar item}}
<div class="row ds-title-bar">
  <div class="col-md-10">
    {{#if item.title}}<h4>{{item.title}}</h4>{{/if}}
  </div>
  <div class="col-md-2" align="right">
    {{> ds-action-menu}}
  </div>
</div>
