<div class="container">
  <div class="ds-edit-bar ds-edit-bar-definition alert alert-info" align="left" data-ds-item-id="{{item.item_id}}">
    <span class="badge ds-badge-cell" data-ds-item-id="{{item.item_id}}"><i class="fa fa-cog"></i> definition {{item.item_id}}</span>
  </div>
</div>
