<!-- -*- mode:jinja2 -*- -->
{% extends "base.html" %}

{% block pagetitle %}
  <span class="ds-primary-title">{{config['DASHBOARD_APPNAME']}}</span> <span class="ds-secondary-title">{{title}}</span>
{% endblock %}

{% block content %}

  <div class="container">

    {% include "snippets/breadcrumbs.html" %}

    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-10">
            <h3>Dashboards</h3>
          </div>
          <div class="col-md-2" align="right">
          </div>
        </div>
        <div id="ds-dashboard-main-listing"></div>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div> <!-- container -->

  <script>
   $(document).ready(function() {
     ts.manager.render_dashboard_list(ts.user.list_favorites(), '#ds-dashboard-main-listing')
   })
  </script>

{% endblock %}
