<div class="ds-query-edit-panel">

  <div class="row">
    <div class="col-md-12">
      <div class="btn-group btn-group-sm">
        {{actions 'dashboard-queries' 'button'}}
      </div>
      <br/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-striped">
        {{#each definition.queries}}
          <tr>
            <th>{{this.name}}</th><td>{{this.targets}}</td>
          </tr>
        {{/each}}
      </table>
    </div>
  </div>

</div>
