<ul class="nav nav-pills">
  <li class="active"><a href="#metadata" data-toggle="tab">Metadata</a></li>
  <li><a href="#queries" data-toggle="tab">Queries</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="metadata">
    {{> dashboard-metadata-panel}}
  </div>
  <div class="tab-pane" id="queries">
    {{> dashboard-query-panel}}
  </div>

</div>
