{% raw %}

<script id="tmpl-dashboard-info-edit-panel" type="text/x-handlebars-template">
  <div class="row">
    <!-- Column 1 -->
    <div class="col-md-4">
      <h4>Properties</h4>

      <table class="table-condensed">
        <tbody>
          <tr>
            <th>Title</th><td>{{dashboard.title}}</td>
          </tr>

          <tr>
            <th>Category</th><td>{{dashboard.category}}</td>
          </tr>

          <tr>
            <th>Tags</th>
            <td>
              {{#each dashboard.tags}}
              <span class="badge badge-primary">{{this}}</span>
              {{/each}}
            </td>
          </tr>

          <tr>
            <th>Created</th><td>{{moment 'MMMM Do YYYY, h:mm:ss a' dashboard.creation_date}}</td>
          </tr>
          <tr>
            <th>Last Modified</th><td>{{moment 'MMMM Do YYYY, h:mm:ss a' dashboard.last_modified_date}}</td>
          </tr>

        </tbody>
      </table>
    </div> <!-- column -->

    <!-- Column 2 -->
    <div class="col-md-4">
      <h4>Description</h4>
      <p>{{dashboard.description}}</p>
    </div>

  </div>
</script>


<script>
        cronenberg.templates.edit = cronenberg.templates.edit || {};
        cronenberg.templates.edit.infopanel = Handlebars.compile($("#tmpl-dashboard-info-edit-panel").html());
</script>

{% endraw %}
