{% raw %}

<!--
     PARTIAL: dashboard listing action menu
  -->
<script id="ds-tmpl-dashboard-listing-action-menu" type="text/x-handlebars-template">
  <div class="btn-group">
    <button
            type="button"
            class="btn btn-default btn-xs dropdown-toggle"
            data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right ds-action-menu" role="menu" data-ds-href="{{href}}" data-ds-view-href="{{view_href}}">
      <li data-ds-action="open"><a href="#"><i class="fa fa-external-link"></i> Open</a></li>
      <li class="disabled" data-ds-action="edit"><a href="#"><i class="fa fa-edit"></i> Edit&hellip;</a></li>
      <li data-ds-action="duplicate"><a href="#"><i class="fa fa-copy"></i> Duplicate&hellip;</a></li>
      <li class="divider"/>
      <li  data-ds-action="delete"><a href="#"><i class="fa fa-trash-o"></i> Delete&hellip;</a></li>
    </ul>
  </div>
</script>
<!-- menu event handler -->
<script>
  cronenberg.dashboards.onDashboardListLoaded(function(data) {
      $('ul.ds-action-menu li').click(function(event) {
          var action = this.getAttribute('data-ds-action');
          var href = $(event.target).parent().parent()[0].getAttribute('data-ds-href');
          switch (action) {
          case 'open':
              window.location = $(event.target).parent().parent()[0].getAttribute('data-ds-view-href');
              break;
          case 'duplicate':
              // TODO - should have dynamic refresh instead of setting window.location
              cronenberg.dashboards.duplicate(href, function() {
                  window.location.reload();
              });
              break;
          case 'delete':
              cronenberg.dashboards.delete_with_confirmation(href, function() {
                  window.location.reload();
              });
              break;
          }
      });
  });
</script>

<!--
   PARTIAL: dashboard listing entry
  -->

<script id="ds-tmpl-dashboard-listing-entry" type="text/x-handlebars-template">
  <tr>
    <td>
      <div class="row">
        <div class=""> <!-- col-md-1 -->
          <!-- <a href="/dashboards/{{id}}"><i class="fa fa-2x fa-dashboard"></i></a> -->
        </div>
        <div class="col-md-12">
          <div class="pull-left">
            <a href="{{view_href}}">
              {{category}} /
              <strong>
                {{title}}
              </strong>
              {{#if description}}
              <br/>
              <small>{{description}}</small>
              {{/if}}
            </a><br/>
            Last modified {{last_modified}}.
          </div>
          <div class="pull-right" style="margin-left: 0.5em">
            {{> ds-dashboard-listing-action-menu}}
          </div>
          <div class="pull-right" style="text-align:right">
            {{#each tags}}
            <a href="/dashboards/tagged/{{this}}"><span class="badge badge-primary">{{this}}</span></a>
            {{/each}}
            <br/>
            {{#if imported_from}}
            <a href="{{imported_from}}" target="_blank"><i class="fa fa-cloud"></i></a><br/>
            {{/if}}
          </div>
        </div>

      </div> <!-- row -->
    </td>
  </tr>
</script>

<!--
    TEMPLATE: dashboard listing table
  -->

<script id="ds-tmpl-main-listing" type="text/x-handlebars-template">
  <table class="table table-hover table-condensed">
    <tbody>
      {{#each dashboards}}
      {{> ds-dashboard-listing-entry}}
      {{else}}
      <tr><td><h3>No dashboards defined</h3></td></tr>
      {{/each}}
    </tbody>
  </table>
</script>

<!--
    TEMPLATE: tag listing picker
  -->
<script id="ds-tmpl-tag-listing" type="text/x-handlebars-template">
  <div class="list-group">
    <a class="list-group-item {{#unless tag}}active{{/unless}}" href="/dashboards">All <span class="badge badge-primary pull-right"></span></a>
    {{#each tags}}
    <a class="list-group-item " data-ds-tag="{{name}}" href="/dashboards/tagged/{{name}}">
      {{name}}
      <span class="badge badge-primary pull-right">{{count}}</span></a>
    {{/each}}
  </div>
</script>

<script>
  Handlebars.registerPartial('ds-dashboard-listing-entry', $('#ds-tmpl-dashboard-listing-entry').html());
  Handlebars.registerPartial('ds-dashboard-listing-action-menu', $('#ds-tmpl-dashboard-listing-action-menu').html());
  cronenberg.templates.other = cronenberg.templates.other || {};
  cronenberg.templates.other.listing = Handlebars.compile($("#ds-tmpl-main-listing").html());
  cronenberg.templates.other.taglisting = Handlebars.compile($("#ds-tmpl-tag-listing").html());
</script>

{% endraw %}
