{% raw %}

<!--
    PARTIAL: action menu

    For now this is shown in edit menu. It could easily have its own
    dedicated visibility toggle if desired.
-->
<script id="ds-tmpl-action-menu" type="text/x-handlebars-template">
  <div class="btn-group">
    <button data-ds-edit-mode="show"
            type="button"
            class="btn btn-default btn-xs dropdown-toggle"
            data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right ds-action-menu" role="menu">
      <li data-ds-action="open-in-graphite"><a href="#"><i class="fa fa-bar-chart-o"></i> Open in Graphite&hellip;</a></li>
      <li class="divider"/>
      <li data-ds-action="export-png"><a href="#"><i class="fa fa-picture-o"></i> Export PNG&hellip;</a></li>
      <li data-ds-action="export-svg"><a href="#"><i class="fa fa-code"></i> Export SVG&hellip;</a></li>
    </ul>
  </div>
</script>
<!-- menu event handler -->
<script>
  cronenberg.dashboards.onDashboardLoaded(function(d) {
      $('ul.ds-action-menu li').click(function(event) {
          var presentation_id = $(this).parent().parent().parent().parent().parent()[0].id;
          var item = cronenberg.dashboards.current.dashboard.elementToItemMap[presentation_id];
          // console.log(item);
          console.log(this);
          switch (this.getAttribute('data-ds-action')) {
          case 'open-in-graphite':
              var query = cronenberg.dashboards.current.dashboard.definition.queries[item.query_name];
              var compose_url = URI(query).filename('compose').removeQuery('format').href();
              var png_url = URI(query)
                  .setQuery('format', 'png')
                  .setQuery('height', 600)
                  .setQuery('width', 1200)
                  .setQuery('bgcolor', 'white')
                  .setQuery('fgcolor', 'gray')
                  .setQuery('majorGridLineColor', '#dddddd')
                  .setQuery('minorGridLineColor', '#eeeeee')
                  .href();
              console.log(png_url);
              break;
          }
      });
  });
</script>

<!--
    PARTIAL: title bar
-->
<script id="ds-tmpl-title-bar" type="text/x-handlebars-template">
  <div>
    <div class="pull-right">
      {{> ds-action-menu}}
    </div>
    <div>
      {{#if item.title}}<h3>{{item.title}}</h3>{{/if}}
    </div>
  </div>
</script>

<script>
  Handlebars.registerPartial('ds-action-menu', $('#ds-tmpl-action-menu').html());
  Handlebars.registerPartial('ds-title-bar', $('#ds-tmpl-title-bar').html());
</script>

<!-- ============================================================================= -->

<!--
     TEMPLATE: Separator layout.
  -->
<script id="ds-tmpl-separator" data-ds-item-type="separator" type="text/x-handlebars-template">
  <hr{{#if item.css_class}}class="{{item.css_class}}"{{/if}}></hr>
</script>

<!--
     TEMPLATE: Heading layout.
  -->
<script id="ds-tmpl-heading" data-ds-item-type="heading" type="text/x-handlebars-template">
  <h{{item.level}} {{#if item.css_class}}class="{{item.css_class}}"{{/if}}>
    {{item.text}} {{#if item.description}}<small>{{item.description}}</small>{{/if}}
  </h{{item.level}}>
</script>

<!--
     TEMPLATE: Markdown.
  -->
<script id="ds-tmpl-markdown" data-ds-item-type="markdown" type="text/x-handlebars-template">
</script>
<script>
cronenberg.templates.register_presentation({ elementId: 'ds-tmpl-markdown', renderHandler: function(data) {
    var html = '<div class="ds-presentation ds-markdown';
    if (data.item.height) {
        html += ' ds-height' + data.item.height;
    }
    if (data.item.css_class) {
        html += ' ' + data.item.css_class;
    }
    html += '">';
    if (data.item.raw) {
        return html + '<pre>' + data.item.text + '</pre></div>';
    } else {
        return html + markdown.toHTML(data.item.text) + '</div>';
    }
}});
</script>

<!--
     TEMPLATE: Singlestat presentation.
  -->
<script id="ds-tmpl-singlestat" data-ds-item-type="singlestat" type="text/x-handlebars-template">
  <div class="ds-presentation ds-singlestat {{item.css_class}} {{height item}}" id="{{item.element_id}}">
    <h3>{{item.title}}</h3>
    <p><span class="value"></span><span class="unit">{{item.units}}</span></p>
  </div>
</script>
<script>
  cronenberg.templates.register_presentation({ elementId: 'ds-tmpl-singlestat', dataHandler: function(query, item) {
      var element = $('#' + item.element_id + ' span.value');
      var value = query.summation[item.transform];
      if (item.index) {
          value = query.data[item.index].summation[item.transform];
      }
      cronenberg.check_thresholds(item, value, '#' + item.element_id);
      element.text(d3.format(item.format)(value));
  }});
</script>


<!--
     TEMPLATE: Jumbotron Singlestat presentation.
  -->
<script id="ds-tmpl-jumbotron-singlestat" data-ds-item-type="jumbotron_singlestat" type="text/x-handlebars-template">
  <div class="ds-presentation ds-jumbotron-singlestat {{height item}} {{css_class item}}"
       id="{{item.element_id}}">
    <div><p><span class="value"></span><span class="unit">{{item.units}}</span></p></div>
    <div><h3>{{item.title}}</h3></div>
  </div>
</script>
<script>
  cronenberg.templates.register_presentation({ elementId: 'ds-tmpl-jumbotron-singlestat', dataHandler: function(query, item) {
      var element = $('#' + item.element_id + ' span.value');
      var value = query.summation[item.transform];
      if (item.index) {
          value = query.data[item.index].summation[item.transform];
      }
      cronenberg.check_thresholds(item, value, '#' + item.element_id);
      $(element).text(d3.format(item.format)(value));
  }});
</script>

<!--
     TEMPLATE: Simple time series presentation.
  -->
<script id="ds-tmpl-simple-time-series" data-ds-item-type="simple_time_series" type="text/x-handlebars-template">
  <div class="ds-presentation ds-graph ds-simple-time-series {{css_class item}}" id="{{item.element_id}}">
    {{> ds-title-bar}}
    <div class="ds-graph-holder">
      <svg class="{{height item}}"></svg>
    </div>
  </div>
</script>
<script>
  cronenberg.templates.register_presentation({ elementId: 'ds-tmpl-simple-time-series', dataHandler: function(query, item) {
      cronenberg.charts.simple_line_chart($("#" + item.element_id + ' .ds-graph-holder'), query.data[0], item.options);
  }});
</script>

<!--
     TEMPLATE: Standard time series presentation.
  -->
<script id="ds-tmpl-standard-time-series" data-ds-item-type="standard_time_series" type="text/x-handlebars-template">
  <div class="ds-presentation ds-graph ds-standard-time-series {{css_class item}}"
       id="{{item.element_id}}">
    {{> ds-title-bar}}
    <div class="ds-graph-holder">
      <svg class="{{height item}}"></svg>
    </div>
  </div>
</script>
<script>
  cronenberg.templates.register_presentation({ elementId: 'ds-tmpl-standard-time-series', dataHandler: function(query, item) {
      var chart = cronenberg.charts.standard_line_chart($("#" + item.element_id + ' .ds-graph-holder'), query.data, item.options);
  }});
</script>

<!--
     TEMPLATE: Stacked area chart presentation.
  -->
<script id="ds-tmpl-stacked-area-chart" data-ds-item-type="stacked_area_chart" type="text/x-handlebars-template">
  <div class="ds-presentation ds-graph ds-stacked-area-chart {{css_class item}}"
       id="{{item.element_id}}">
    {{> ds-title-bar}}
    <div class="ds-graph-holder">
      <svg class="{{height item}}"></svg>
    </div>
  </div>
</script>
<script>
  cronenberg.templates.register_presentation({ elementId: 'ds-tmpl-stacked-area-chart', dataHandler: function (query, item) {
        cronenberg.charts.stacked_area_chart($("#" + item.element_id + ' .ds-graph-holder'), query.data, item.options);
  }});
</script>

<!--
     TEMPLATE: Donut chart presentation.
  -->
<script id="ds-tmpl-donut-chart" data-ds-item-type="donut_chart" type="text/x-handlebars-template">
  <div class="ds-presentation ds-graph ds-donut-chart {{css_class item}}"
       id="{{item.element_id}}">
    {{> ds-title-bar}}
    <div class="ds-graph-holder">
      <svg class="{{height item}}"></svg>
    </div>
  </div>
</script>
<script>
  cronenberg.templates.register_presentation({ elementId: 'ds-tmpl-donut-chart', dataHandler: function(query, item) {
      var chart = cronenberg.charts.donut_chart($("#" + item.element_id + ' .ds-graph-holder'), query.data, item.options);
  }});
</script>


<!--
     TEMPLATE: Summation table presentation.
  -->
<script id="ds-tmpl-summation-table" data-ds-item-type="summation_table" type="text/x-handlebars-template">
  <table class="ds-presentation table table-condensed ds-summation-table {{height item}} {{css_class item}}
                {{#if item.striped}}table-striped{{/if}}"
         id="{{item.element_id}}">
    <thead>
      <tr>
        <th></th>
        <th>latest</th>
        <th>min</th>
        <th>max</th>
        <th>mean</th>
        <th>sum</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</script>
<!-- Summation table row template, takes a context of { series: series, item: item } -->
<script id="ds-tmpl-summation-table-row" type="text/x-handlebars-template">
  <tr>
    <td>{{series.key}}</td>
    <td>{{format item.format series.summation.last}}</td>
    <td>{{format item.format series.summation.min}}</td>
    <td>{{format item.format series.summation.max}}</td>
    <td>{{format item.format series.summation.mean}}</td>
    <td>{{format item.format series.summation.sum}}</td>
  </tr>
</script>
<script>
  var rowTemplate = Handlebars.compile($("#ds-tmpl-summation-table-row").html());
  var handler = function(query, item) {
      var body = $('#' + item.element_id + ' tbody');
      query.data.forEach(function(series) {
          body.append(rowTemplate({series:series, item:item}));
      });
  };
  cronenberg.templates.register_presentation({ elementId: 'ds-tmpl-summation-table', dataHandler: handler});
</script>

<!-- ============================================================================= -->

<!--
     TEMPLATE: Dashboard cells.
  -->
<script id="ds-tmpl-cell" data-ds-item-type="cell" type="text/x-handlebars-template">
  <div class="{{span item}} {{offset item}} {{css_class item}} {{height item}}"
       {{#if item.align}} align="{{item.align}}" {{/if}}
       >
  {{#if item.style}}<div class="{{style_class item}}">{{/if}}

  {{#each item.presentation}}
    {{item this}}
  {{/each}}

  {{#if item.style}}</div>{{/if}}
</div>
</script>

<!--
     TEMPLATE: Dashboard rows.
  -->
<script id="ds-tmpl-row" data-ds-item-type="row" type="text/x-handlebars-template">
  {{#if item.style}}<div class="{{style_class item}}">{{/if}}
  <div class="row ds-row">
    {{#each item.cells}}
      {{item this}}
    {{/each}}
  </div>
  {{#if item.style}}</div>{{/if}}
</script>

<!--
     TEMPLATE: Top-level dashboard.
  -->
<script id="ds-tmpl-dashboard" data-ds-item-type="dashboard" type="text/x-handlebars-template">
{{#with item.grid}}
  {{#each rows}}
    {{item this}}
  {{/each}}
{{/with}}
</script>

<script>
  cronenberg.templates
        .register_presentation({ elementId: 'ds-tmpl-separator'})
        .register_presentation({ elementId: 'ds-tmpl-heading' })
        .register_presentation({ elementId: 'ds-tmpl-cell' })
        .register_presentation({ elementId: 'ds-tmpl-row' })
        .register_presentation({ elementId: 'ds-tmpl-dashboard' });
</script>

{% endraw %}
