<div class="ds-item" id="{{item.item_id}}">
  {{> ds-title-bar}}
  <table class="table table-condensed ds-comparison-summation-table {{height item}} {{css_class item}}
                {{#if item.striped}}table-striped{{/if}}">
    <thead>
      <tr>
        <th></th>
        <th>Now</th>
        <th>Then</th> <!-- TODO: add a label for this -->
        <th>Delta</th>
      </tr>
    </thead>
    <tbody>
      <!--
          iterate through mean, sum, min, max
          [ measure | current-value | time-shifted-value | diff % (color coded) ]
        -->
    </tbody>
  </table>
</div>
