{{#if item.style}}<div class="{{style_class item}}">{{/if}}
  <div class="ds-row">
  {{> ds-edit-bar-row}}
    <div class="row {{css_class item}}">
    {{#each item.items}}
      {{item this}}
    {{/each}}
    </div>
  </div>
  {{#if item.style}}</div>{{/if}}
