<div class="ds-section {{container_class item}}">
  {{> ds-edit-bar-section}}
  {{#if item.style}}<div class="{{style_class item}}">{{/if}}
    <div class="{{css_class item}}">
      {{#each item.items}}
        {{item this}}
      {{/each}}
    </div>
    {{#if item.style}}</div>{{/if}}
</div>
