  <div class="ds-presentation ds-graph ds-simple-time-series {{css_class item}}" id="{{item.element_id}}">
    {{> ds-title-bar}}
    <div class="ds-graph-holder">
      <svg class="{{height item}}"></svg>
    </div>
  </div>
