<div class="ds-presentation ds-graph ds-singlegraph {{css_class item}}" id="{{item.element_id}}">
  {{> ds-title-bar}}
  <div class="ds-graph-holder">
    <svg class="{{height item}}"></svg>
    <span class="ds-label"></span>
    <span class="value"></span>
  </div>
</div>
