  <table class="ds-presentation table table-condensed ds-summation-table {{height item}} {{css_class item}}
                {{#if item.striped}}table-striped{{/if}}"
         id="{{item.item_id}}">
    <thead>
      <tr>
        <th></th>
        <th>latest</th>
        <th>min</th>
        <th>max</th>
        <th>mean</th>
        <th>sum</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
