<div class="ds-item" id="{{item.item_id}}">
  {{> ds-title-bar}}
  <table class="table table-condensed ds-summation-table {{height item}} {{css_class item}}
                {{#if item.striped}}table-striped{{/if}}">
    <thead>
      <tr>
        <th></th>
        <th>current</th>
        <th>min</th>
        <th>max</th>
        <th>mean</th>
        <th>median</th>
        <th>sum</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
