<!-- -*- mode:jinja2 -*- -->
{% extends "layouts/base.html" %}

{% block pagetitle %}
  <span class="primary-title">{{dashboard.category}}</span> <span class="secondary-title">{{dashboard.title}}</span>
  <small>{{dashboard.description}}</small>
{% endblock %}

{% block content %}

  {% include "snippets/breadcrumbs.html" %}

  <div class="row">
    <div class="span12">
      {% include "snippets/recent-range-picker.html" %}
    </div>
  </div>

  <div id="dashboard"/>

  <script>
    var url = '/api/dashboard/{{dashboard.name}}/expanded';
    cronenberg.dashboards.load(url, function(dashboard) {
        for (var query_name in dashboard.queries) {
            cronenberg.queries.add(query_name, dashboard.queries[query_name]);
        }
        var rendered = cronenberg.templates.render(dashboard);
        $("#dashboard").after(rendered);
    });
    cronenberg.queries.loadAll();
  </script>
{% endblock %}
