<!-- -*- mode:jinja2 -*- -->
{% extends "layouts/base.html" %}

{% block pagetitle %}
  <span class="primary-title">{{config['DASHBOARD_APPNAME']}}</span> <span class="secondary-title">{{title}}</span>
{% endblock %}

{% block content %}

  {% include "snippets/breadcrumbs.html" %}

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Dashboard</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for dashboard in dashboards %}
        <tr>
          <td><a href="/dashboards/{{dashboard.id}}"><span class="badge badge-info"><i class="fa fa-dashboard"></i></span> {{dashboard.id}}</a></td>
          <td>{{dashboard.category}} {{dashboard.title}}</td>
          <td>
            {% if dashboard.imported_from %}
              <a href="{{dashboard.imported_from}}">
            {% endif %}
            {{dashboard.description}}
            {% if dashboard.imported_from %}
              </a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
