<!-- -*- mode:jinja2 -*- -->
{% extends "layouts/base.html" %}
{% from "presentations.html" import render with context %}

{% block pagetitle %}
  <span class="primary-title">{{dashboard.category}}</span> <span class="secondary-title">{{dashboard.title}}</span>
  <small>{{dashboard.description}}</small>
{% endblock %}

{% block content %}

{% include "snippets/breadcrumbs.html" %}

  <script>
    {% for name,url in dashboard.queries.iteritems() -%}
      cronenberg.queries.add('{{name}}', '{{url|safe}}');
    {%- endfor %}
  </script>

  <div class="row">
    <div class="span12">
      {% include "snippets/recent-range-picker.html" %}
    </div>
  </div>

  {{ render(dashboard.grid) }}

  <script>
    cronenberg.queries.loadAll();
  </script>
{% endblock %}
