<!-- -*- mode:jinja2 -*- -->
{% extends "layouts/base.html" %}

{% block pagetitle %}
  <span class="primary-title">{{dashboard.category}}</span> <span class="secondary-title">{{dashboard.title}}</span>
  <small>{{dashboard.description}}</small>
{% endblock %}

{% block content %}

  {% include "snippets/breadcrumbs.html" %}

  <div class="row">
    <div class="span12">
      {% include "snippets/recent-range-picker.html" %}
    </div>
  </div>

  <div id="dashboard-container"></div>

  <script>
    var url = '/api/dashboard/{{dashboard.name}}/expanded';
    $.ajax({
        dataType: "json",
        url: url
    }).done(function(data) {
        console.log(data);
    var rendered = cronenberg.templates.render(data.entities[0]);
    console.log("Rendered!");
    console.log(rendered);
    $("#dashboard-container").append(rendered);
    });
    cronenberg.queries.loadAll();
  </script>
{% endblock %}
