<!-- -*- mode:jinja2 -*- -->
{% extends "layouts/base.html" %}

{% block pagetitle %}
  <span class="primary-title">{{dashboard.category}}</span> <span class="secondary-title">{{dashboard.title}}</span>
  <small>{{dashboard.description}}</small>
{% endblock %}

{% block content %}

  <div data-fullscreen="hide">
    <div>
      {% include "snippets/breadcrumbs.html" %}
    </div>

    <div class="row">
      <div class="span10">
        {% include "snippets/recent-range-picker.html" %}
      </div>
      <div class="span2" align="right">
        <button onclick="cronenberg.enterFullscreen()"
                class="btn {% if ctx.get('theme', 'dark') == 'dark' %}btn-inverse{% endif %}"
                style="float:right">
                <i class="icon-resize-full icon-large"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="fullscreen-titlebar" data-fullscreen="show" style="display:none">
    <div class="row">
      <div class="span9">
        <h1 class="page-title">
          <span class="primary-title">{{dashboard.category}}</span> <span class="secondary-title">{{dashboard.title}}</span>
        </h1>
      </div>
      <div class="span3 time-container" align="right">
        <button onclick="cronenberg.exitFullscreen()"
                class="btn {% if ctx.get('theme', 'dark') == 'dark' %}btn-inverse{% endif %}"
                style="float:right; margin-top: 1em; margin-left: .5em">
                <i class="icon-resize-small icon-large"></i>
        </button>
        <div>
          <h2 class="time">{{ ctx.now.strftime("%I:%M") }}<small> {{ ctx.now.strftime("%p") }}</small></h2>
          <h6 class="date">{{ ctx.now.strftime("%A") }} {{ ctx.now.strftime("%d %B %Y") }}</h6>
        </div>
      </div>
    </div>
    <hr style="margin:0"/>
  </div> <!-- end fullscreen titlebar -->

  <div class="dashboard-grid" id="dashboard"/>

  {% include "presentations.html" %}
  <script>
    var url = '/api/dashboard/{{dashboard.name}}/expanded?from={{from_time}}{% if until_time %}&until={{until_time}}{% endif %}';
    cronenberg.dashboards.onDashboardLoaded(function(dashboard) {
        var rendered = cronenberg.templates.render(dashboard);
        $("#dashboard").append(rendered);
        cronenberg.queries.loadAll();
    });
    cronenberg.dashboards.load(url);
  </script>

{% endblock %}
