<!-- -*- mode:jinja2 -*- -->
{% extends "layouts/standard.html" %}
{% from "presentations.html" import render with context %}

{% block pagetitle %}
  <span class="primary-title">{{app}}</span> <span class="secondary-title">{{title}}</span>
{% endblock %}

{% block layout %}

  <script>
    {% for name,url in dashboard.queries.iteritems() -%}
      cronenberg.add_query('{{name}}', '{{url|safe}}');
    {%- endfor %}
  </script>

  <div class="row-fluid">
    {% include "snippets/recent-range-picker.html" %}
  </div>

  {{ render(dashboard.grid) }}

  <script>
    cronenberg.load_queries();
  </script>

{% endblock %}
