<!-- -*- mode:jinja2 -*- -->
{% extends "layouts/base.html" %}
{% from "presentations.html" import render with context %}

{% block pagetitle %}
  <span class="primary-title">{{config['DASHBOARD_APPNAME']}}</span> <span class="secondary-title">Index</span>
{% endblock %}

{% block content %}


  {%- macro featured(name, path, class, span=3) %}
    <div class="span{{span}} well alert-block {{class}}" align="center">
      <h3><a href="{{path}}">{{name}}</a></h3>
    </div>
  {% endmacro -%}

  <div class="row">

    <div class="span4">
      <div class="well" align="center">
        <a href="/dashboards"><h3><i class="icon-dashboard" style="font-size: 4em"></i>
            <br/>Dashboards</h3></a>
      </div>
    </div>

    <div class="span8">
      <div class="row-fluid">
        {{ featured("Showcase", "/dashboards/demo-random-data", "alert-info") }}
        {{ featured("Automation", "/dashboards/demo-automation", "alert-success") }}
        {{ featured("Venkman System", "/dashboards/nils-venkman-system", "") }}
        {{ featured("Meganome", "/dashboards/meganome-kevin", "") }}
      </div>
    </div>

  </div>

  <hr/>

{% endblock %}
