<!-- -*- mode:jinja2 -*- -->
{% extends "layouts/base.html" %}

{% block pagetitle %}
<i class="fa fa-cog"></i> <span class="ds-primary-title">{{config['DASHBOARD_APPNAME']}}</span> <span class="ds-secondary-title">{{title}}</span>
{% endblock %}

{% block content %}

<div class="container">

  <div>
    {% include "snippets/breadcrumbs.html" %}
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-4">
    <div class="btn-group">
        <button class="btn btn-default" onclick="setTheme('dark')">Dark</button>
        <button class="btn btn-default" onclick="setTheme('light')">Light</button>
    <!-- <button class="btn btn-default" onclick="setTheme('solarized-dark')">Solarized Dark</button> -->
        <button class="btn btn-default" onclick="setTheme('solarized-light')">Solarized Light</button>
      </div>
    </div>
  </div>

</div> <!-- container -->

<script>
  setTheme = function(theme) {
      window.location = URI(window.location)
          .setQuery('theme', theme)
          .href();
  };

</script>

{% endblock %}
