<!-- ========================================================================= -->

{% macro render_separator(separator) -%}
  <hr {% if separator.css_class != '' %}class="{{separator.css_class}}" {% endif %}>
  </hr>
{% endmacro %}

<!-- ========================================================================= -->

{% macro singlestat(layout) -%}
<div class="span{{ layout.span }}{% if layout.offset %} offset{{ layout.offset }} {% endif %}"
{% if layout.presentation.align == 'center' %}
align="center"
{% endif %}
>
  {% if layout.emphasize %}
    <div class="well">
      <div class="singlestat banner" id="{{layout.presentation.element_id}}">
    {% else %}
      <div class="singlestat" id="{{layout.presentation.element_id}}">
  {% endif %}
  <h3>{{ layout.presentation.title }}</h3>
  <p><span class="value"></span><span class="unit">{{ layout.presentation.units }}</span></p>
      </div>
  {% if layout.emphasize %}
    </div>
  {% endif %}
</div>
<script>
    bean.on(cronenberg.queries.{{layout.presentation.query_name}}, 'data-available', function(query) {
        $("#{{layout.presentation.element_id}} span.value").number(query.data[{{layout.presentation.index}}].summation.{{layout.presentation.transform}},
                                                                   {{layout.presentation.decimal}});
    });
</script>
{%- endmacro %}

<!-- ========================================================================= -->

{% macro simple_time_series(layout) -%}
<div class="span{{ layout.span }}{% if layout.offset %} offset{{ layout.offset }} {% endif %}">
  <div class="graph simple-time-series" id="{{layout.presentation.element_id}}">
    <svg></svg>
  </div>
</div>
<script>
  bean.on(cronenberg.queries.{{layout.presentation.query_name}}, 'data-available', function(query) {
      cronenberg.simple_line_chart($("#{{layout.presentation.element_id}}"), query.data[0]);
  });
</script>
{%- endmacro %}

<!-- ========================================================================= -->

{% macro render_cell(cell) -%}
  {% if cell.presentation.presentation_type == 'singlestat' %}
    {{ singlestat(cell) }}
  {% elif cell.presentation.presentation_type == 'simple_time_series' %}
    {{ simple_time_series(cell) }}
  {% endif %}
{% endmacro %}

<!-- ========================================================================= -->

{% macro render_row(row) -%}
  <div class="row dashboard-row">
    {% for cell in row.cells %}
      {{ render(cell) }}
    {% endfor %}
  </div>
{% endmacro %}

<!-- ========================================================================= -->

{% macro render_grid(grid) -%}
  {% for row in grid.rows %}
    {{ render(row) }}
  {% endfor %}
{% endmacro %}

<!-- ========================================================================= -->

{% macro render(layout) -%}
  {% if layout.layout_type == 'grid' %}
    {{ render_grid(layout) }}
  {% elif layout.layout_type == 'row' %}
    {{ render_row(layout) }}
  {% elif layout.layout_type == 'cell' %}
    {{ render_cell(layout) }}
  {% elif layout.layout_type == 'separator' %}
    {{ render_separator(layout) }}
  {% endif %}
{% endmacro %}
