{% raw %}

<!--
     TEMPLATE: Separator layout.
  -->
<script id="tmpl-separator" data-item-type="separator" type="text/x-handlebars-template">
  <hr{{#if item.css_class}}class="{{item.css_class}}"{{/if}}></hr>
</script>

<!--
     TEMPLATE: Heading layout.
  -->
<script id="tmpl-heading" data-item-type="heading" type="text/x-handlebars-template">
  <h{{item.level}} {{#if item.css_class}}class="{{item.css_class}}"{{/if}}>
    {{item.text}} {{#if item.description}}<small>{{item.description}}</small>{{/if}}
  </h{{item.level}}>
</script>

<!--
     TEMPLATE: Singlestat presentation.
  -->
<script id="tmpl-singlestat" data-item-type="singlestat" type="text/x-handlebars-template">
<div class="singlestat {{item.css_class}}" id="{{item.element_id}}"
  >
    <h3>{{item.title}}</h3>
    <p><span class="value"></span><span class="unit"> {{item.units}}</span></p>
  </div>
</script>
<script>
  cronenberg.templates.register('tmpl-singlestat', function(query, item) {
      var value = query.summation[item.transform];
      if (item.index) {
          value = query.data[item.index].summation[item.transform];
      }
      $('#' + item.element_id + ' span.value').number(value, item.decimal);
  });
</script>


<!--
     TEMPLATE: Jumbotron Singlestat presentation.
  -->
<script id="tmpl-jumbotron-singlestat" data-item-type="jumbotron_singlestat" type="text/x-handlebars-template">
  <div class="jumbotron-singlestat
              {{#if item.css_class}}{{item.css_class}}{{/if}}
              " id="{{item.element_id}}">
    <div><p><span class="value"></span><span class="unit">{{item.units}}</span></p></div>
    <div><h3>{{item.title}}</h3></div>
  </div>
</script>
<script>
  cronenberg.templates.register('tmpl-jumbotron-singlestat', function(query, item) {
      var value = query.summation[item.transform];
      if (item.index) {
          value = query.data[item.index].summation[item.transform];
      }
      $('#' + item.element_id + ' span.value').number(value, item.decimal);
  })
</script>

<!--
     TEMPLATE: Simple time series presentation.
  -->
<script id="tmpl-simple-time-series" data-item-type="simple_time_series" type="text/x-handlebars-template">
  <div class="graph simple-time-series
              {{#if item.css_class}}{{item.css_class}}{{/if}}" id="{{item.element_id}}">
    <svg></svg>
  </div>
</script>
<script>
  cronenberg.templates.register('tmpl-simple-time-series', function(query, item) {
      cronenberg.charts.simple_line_chart($("#" + item.element_id), query.data[0], item.options);
  })
</script>

<!--
     TEMPLATE: Standard time series presentation.
  -->
<script id="tmpl-standard-time-series" data-item-type="standard_time_series" type="text/x-handlebars-template">
  <div class="graph standard-time-series
              {{#if item.css_class}}{{item.css_class}}{{/if}}" id="{{item.element_id}}">
    <svg></svg>
  </div>
</script>
<script>
  cronenberg.templates.register('tmpl-standard-time-series', function(query, item) {
      var chart = cronenberg.charts.standard_line_chart($("#" + item.element_id), query.data, item.options);
  })
</script>

<!--
     TEMPLATE: Stacked area chart presentation.
  -->
<script id="tmpl-stacked-area-chart" data-item-type="stacked_area_chart" type="text/x-handlebars-template">
  <div class="graph stacked-area-chart
              {{#if item.css_class}}{{item.css_class}}{{/if}}" id="{{item.element_id}}">
    <svg></svg>
  </div>
</script>
<script>
  cronenberg.templates.register('tmpl-stacked-area-chart', function (query, item) {
        cronenberg.charts.stacked_area_chart($("#" + item.element_id), query.data, item.options);
  });
</script>

<!--
     TEMPLATE: Dashboard cells.
  -->
<script id="tmpl-cell" data-item-type="cell" type="text/x-handlebars-template">
  <div class="{{#if item.span}} span{{item.span}} {{/if}}
{{#if item.offset}} offset{{ item.offset}} {{/if}}
{{#if item.css_class}} {{ item.css_class}} {{/if}}
"
{{#if item.align}} align="{{item.align}}" {{/if}}
{{#if item.height}} height="{{item.height}}" {{/if}}
>
  {{#if item.emphasize}}
    <div class="well">
  {{/if}}

  {{#each item.presentation}}
    {{item this}}
  {{/each}}

  {{#if item.emphasize}}
    </div>
  {{/if}}
</div>
</script>

<!--
     TEMPLATE: Dashboard rows.
  -->
<script id="tmpl-row" data-item-type="row" type="text/x-handlebars-template">
  <div class="row dashboard-row">
    {{#each item.cells}}
      {{item this}}
    {{/each}}
  </div>
</script>

<!--
     TEMPLATE: Top-level dashboard.
  -->
<script id="tmpl-dashboard" data-item-type="dashboard" type="text/x-handlebars-template">
{{#with item.grid}}
  {{#each rows}}
    {{item this}}
  {{/each}}
{{/with}}
</script>

<script>
  cronenberg.templates
        .register('tmpl-separator')
        .register('tmpl-heading')
        .register('tmpl-cell')
        .register('tmpl-row')
        .register('tmpl-dashboard');
</script>

{% endraw %}
