<div data-ds-hide="edit" class="btn-group" align="left">
  <button type="button"
          class="btn btn-default btn-xs dropdown-toggle"
          data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right ds-action-menu" role="menu">
    {{actions 'presentation-actions'}}
    {{actions item.item_type true}}
  </ul>
</div>
