<div class="row">
  <div class="col-md-10">
    {{#if item.title}}<h3>{{item.title}}</h3>{{/if}}
  </div>
  <div class="col-md-2" align="right">
    {{> ds-edit-menu}}
    {{> ds-action-menu}}
  </div>
</div>
