<div class="row" data-ds-show="edit" style="display:none">
  <div class="col-md-12">
    <i title="Drag to reposition" class="fa fa-align-justify pull-right ds-drag-handle" data-ds-item-id="{{item.item_id}}"></i>
    {{ds-edit-bar item}}
  </div>
</div>
