<div data-ds-show="edit" class="btn-group" align="left" style="display:none">
  <button type="button"
          class="btn btn-default btn-xs dropdown-toggle"
          data-toggle="dropdown">
          <i class="fa fa-cog"></i> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right ds-edit-menu" role="menu">
    <li data-ds-action="view-definition"><a href="#"><i class="fa fa-code"></i> View definition&hellip;</a></li>
    <li class="divider"/>
    <li data-ds-action="set-chart-type-simple-time-series"><a href="#"><i class="fa fa-picture-o"></i> Simple Time Series</a></li>
    <li data-ds-action="set-chart-type-simple-time-series-filled"><a href="#"><i class="fa fa-picture-o"></i> Simple Time Series (Filled)</a></li>
    <li data-ds-action="set-chart-type-standard-time-series"><a href="#"><i class="fa fa-picture-o"></i> Standard Time Series</a></li>
    <li data-ds-action="set-chart-type-stacked-area-chart"><a href="#"><i class="fa fa-bar-chart-o"></i> Stacked Area Chart</a></li>
  </ul>
</div>
