<div data-ds-hide="display" class="btn-group" align="left">
  <button type="button"
          class="btn btn-default btn-xs dropdown-toggle"
          data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right ds-action-menu" role="menu">
    <li data-ds-hide='transform' data-ds-action="time-spans"><a href="#"><i class="fa fa-clock-o"></i> View across time spans&hellip;</a></li>
    <li data-ds-hide='transform' data-ds-action="time-shifts"><a href="#"><i class="fa fa-clock-o"></i> Time shift&hellip;</a></li>
    <li data-ds-hide='transform' data-ds-action="isolate"><a href="#"><i class="fa fa-eye"></i> Isolate&hellip;</a></li>
    <li data-ds-hide='transform' class="divider"/>
    <li data-ds-action="open-in-graphite"><a href="#"><i class="fa fa-bar-chart-o"></i> Open in Graphite&hellip;</a></li>
    <li data-ds-action="export-png"><a href="#"><i class="fa fa-picture-o"></i> Export PNG&hellip;</a></li>
    <li data-ds-action="export-svg"><a href="#"><i class="fa fa-code"></i> Export SVG&hellip;</a></li>
    <li data-ds-action="export-csv"><a href="#"><i class="fa fa-table"></i> Export CSV&hellip;</a></li>
  </ul>
</div>
