<div class="btn-group">
  <button
     type="button"
     class="btn btn-default btn-xs dropdown-toggle"
     data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right ds-action-menu" role="menu" data-ds-href="{{href}}" data-ds-view-href="{{view_href}}">
    <li data-ds-action="open"><a href="#"><i class="fa fa-external-link"></i> Open</a></li>
    <li class="disabled" data-ds-action="edit"><a href="#"><i class="fa fa-edit"></i> Edit&hellip;</a></li>
    <li data-ds-action="duplicate"><a href="#"><i class="fa fa-copy"></i> Duplicate&hellip;</a></li>
    <li class="divider"/>
    <li  data-ds-action="delete"><a href="#"><i class="fa fa-trash-o"></i> Delete&hellip;</a></li>
  </ul>
</div>
