<div class="row" data-ds-show="edit">
  <div class="col-md-12">
    <div class="ds-edit-bar ds-cell-edit-bar bs-callout bs-callout-neutral">



      cell
      <i class="fa fa-plus-circle"></i>
      <i class="fa fa-minus-circle"></i>
      <i class="fa fa-trash-o pull-right"></i>



    </div>
  </div>
</div>
