<div class="row" data-ds-show="edit" style="display:none">
  <div class="col-md-12">
    <div class="ds-edit-bar ds-edit-bar-section alert alert-success" align="left">
      <span class="badge badge-success"><i class="fa fa-cog"></i> section {{item.item_id}}</span>
      <div class="btn-group btn-group-sm" data-ds-item-id="{{item.item_id}}">
        {{actions 'edit-bar-section' 'button'}}
      </div>
      {{> ds-edit-bar-item-details}}
    </div>
  </div>
</div>
