<div class="row" data-ds-show="edit" style="display:none">
  <div class="col-md-12">
    <div class="ds-edit-bar ds-edit-bar-cell alert alert-info" align="left">
      <span class="badge badge-primary"><i class="fa fa-cog"></i> cell</span>
      <div class="btn-group btn-group-xs" data-ds-item-id="{{item.item_id}}">
        {{actions 'edit-bar-cell' 'button'}}
      </div>
    </div>
  </div>
</div>
