<span class="badge badge-neutral" data-ds-tag="{{name}}"
  style="
  {{#if bgcolor}}
    background-color: {{bgcolor}};
  {{/if}}
  {{#if fgcolor}}
    color: {{fgcolor}};
  {{/if}}>
  ">
  {{name}}
</span>
