<div class="row" data-ds-show="edit">
  <div class="col-md-12">
    <div class="ds-edit-bar ds-row-edit-bar bs-callout bs-callout-info">




      row <i class="fa fa-trash-o pull-right"></i>



    </div>
  </div>
</div>
