<!--
     TEMPLATE: Top-level dashboard.
  -->
<script data-ds-item-type="dashboard" type="text/x-handlebars-template">
  <div class="{{css_class item}}">
    {{#each item.items}}
      {{item this}}
    {{/each}}
  </div>
</script>
