<div class="list-group">
  <a class="list-group-item {{#unless tag}}active{{/unless}}" href="/dashboards">All <span class="badge badge-primary pull-right"></span></a>
    {{#each tags}}
      <a class="list-group-item " data-ds-tag="{{name}}" href="/dashboards/tagged/{{name}}">
      {{name}}
      <span class="badge badge-default pull-right">{{count}}</span></a>
    {{/each}}
</div>
