---
layout: default
---
<div class="post">

  <div class="container">

    <div class="row">

      <div class="col-md-3">

        <div class="doc-index">
          {% include doclist.html section="General" %}
          {% include doclist.html section="Guides" %}
          {% include doclist.html section="Development" %}
          {% include doclist.html section="Item Types" %}
          {% include doclist.html section="API" %}
        </div> <!-- doc-index -->

      </div> <!-- 3-col -->

      <div class="col-md-9">
        <article class="doc">

          <div class="toc"></div>

          <h1>
            {% if page.doc_title %}
            {{page.doc_title}}
            {% else %}
            {{page.title}}
            {% endif %}
          </h1>
          <hr/>
          {{ content }}
        </article>
      </div>

    </div> <!-- row -->

  </div>

</div>
<script>
 (function() {
   var e = $('.toc')
   e.toc({listType: 'ul', title: '', showSpeed: 0})
   if (e.children().length === 0) {
     e.remove()
   }
 })()
</script>
