---
layout: default
---
<div class="post">

  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-2">

        <header class="post-header">
          <h1>{{ page.title }}</h1>
          <p class="meta">
            {{ page.date | date: "%b %-d, %Y" }}
            {% if page.author %} • {{ page.author }}{% endif %}
            {% if page.meta %} • {{ page.meta }}{% endif %}
          </p>
      {% if page.tags %}
      <div class="post-tags">
        {% for tag in page.tags %}
        <span class="badge badge-default">{{ tag }}</span>
        {% endfor %}
      </div>
      {% endif %}

        </header>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-4">

        <article class="post-content">
          {{ content }}
        </article>

      </div>
    </div>

  </div> <!-- container -->
</div> <!-- post -->
